$main-color: #008da0;
$second-color: #00c1db;

$dark-main-color: darken($main-color, 10%);
$light-main-color: lighten($main-color, 20%);

$main-text-color: #fff;
$second-text-color: rgb(0, 0, 0);

$warning-red-color: rgba(255, 0, 0, 0.452);
