// qestion 2

$maxcol: 4;
@for $i from 1 through $maxcol {
    .col-#{$i} {
        width: (100% / $maxcol) * $i;
    }
}

// qestion 3

@mixin cols($maxcol){
    @for $i from 1 through $maxcol {
      .col-#{$i} {
          width: (100% / $maxcol) * $i;
      }
    }
  }
  @include cols(4);

  //qestion 4

  $fruits: banane cerise ananas pomme;
$fruits: banane, cerise, ananas, pomme;
$fruits: "banane", "cerise", "ananas", "pomme";

// question 5

$fruits: "banane", "cerise", "ananas", "pomme";
@each $fruit in $fruits {
    .fruit-#{$fruit} {
      width: 50%;
    }
}
//question 6

@mixin listWidth($prefix, $list){
    @each $element in $list {
      .#{$prefix}-#{$element} {
        width: 50%;
      }
    }
  }
  $fruits: "banane", "cerise", "ananas", "pomme";
  @include listWidth('fruit',$fruits);

  // question 7

  @function firstOfList($list){
    @return nth($list, 1);
  }
  $fruits: "banane", "cerise", "ananas", "pomme";
  .fruit::before{
    content: firstOfList($fruits);
  }

  //question 8

  @function lastOfList($list){
    @return nth($list, length($list));
  }
  $fruits: "banane", "cerise", "ananas", "pomme";
  .fruit::before{
    content: lastOfList($fruits);
  }

  //qestion 9 -10

  $villes: (lyon,"Lyon"), 
         (paris,"Paris"), 
         (marseille,"Marseille"), 
         (rouen,"Rouen"), 
         (bourg-de-peage,"Bourg de Péage");
  
@each $ville in $villes {
  .ville-#{nth($ville,1)}::before {
    display: block;
    content: "#{nth($ville,2)}" ;
  }
}

// question 11

@mixin addText($prefix,$list,$position:'before'){
    @each $element in $list {
      .#{$prefix}-#{nth($element,1)}::#{$position} {
        display: block;
        content: "#{nth($element,2)}" ;
      }
    }
  }
  $villes: (lyon,"Lyon"), 
           (paris,"Paris"), 
           (marseille,"Marseille"), 
           (rouen,"Rouen"), 
           (bourg-de-peage,"Bourg de Péage");
  @include addText('ville',$villes,'after');

  // question 12 - 13 - 14 - 15
  @mixin colors($prefix,$list,$percent:30%){
    @each $element in $list {
      .#{$prefix}-#{nth($element,1)} {
        color: #{nth($element,2)};
        background-color: #{lighten(nth($element,2),$percent)};
      }
    }
  }
  $social: (facebook,#3b5998), 
           (flickr,#0063db), 
           (linkedin,#007bb6), 
           (twitter,#00aced), 
           (vimeo,#aad450),
           (youtube,#bb0000);
  @include colors('social',$social,30%);

  // question 16

  @mixin colors($prefix,$list,$type:"light",$percent:30%){
    @each $element in $list {
      .#{$prefix}-#{nth($element,1)} {
        color: #{nth($element,2)};
        @if($type == "light") {
          background-color: #{lighten(nth($element,2),$percent)};
        } 
        @else {
          background-color: #{darken(nth($element,2),$percent)};
        }
      }
    }
  }

  // question 17

@mixin colorsMap($prefix,$map,$type:"lighten",$percent:30%){
  @each $name, $color in $map {
    .#{$prefix}-#{$name} {
      color: #{$color};
      @if($type == "lighten") {
        background-color: #{lighten($color,$percent)};
      } 
      @else {
        background-color: #{darken($color,$percent)};
      }
    }
  }
}
$social2: (facebook : #3b5998,
           flickr : #0063db,
           linkedin : #007bb6, 
           twitter : #00aced,
           vimeo : #aad450,
           youtube : #bb0000);
@include colorsMap('social',$social2,'lighten',30%);

