@charset "UTF-8";
.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 75%;
}

.col-4 {
  width: 100%;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 75%;
}

.col-4 {
  width: 100%;
}

.fruit-banane {
  width: 50%;
}

.fruit-cerise {
  width: 50%;
}

.fruit-ananas {
  width: 50%;
}

.fruit-pomme {
  width: 50%;
}

.fruit-banane {
  width: 50%;
}

.fruit-cerise {
  width: 50%;
}

.fruit-ananas {
  width: 50%;
}

.fruit-pomme {
  width: 50%;
}

.fruit::before {
  content: "banane";
}

.fruit::before {
  content: "pomme";
}

.ville-lyon::before {
  display: block;
  content: "Lyon";
}

.ville-paris::before {
  display: block;
  content: "Paris";
}

.ville-marseille::before {
  display: block;
  content: "Marseille";
}

.ville-rouen::before {
  display: block;
  content: "Rouen";
}

.ville-bourg-de-peage::before {
  display: block;
  content: "Bourg de Péage";
}

.ville-lyon::after {
  display: block;
  content: "Lyon";
}

.ville-paris::after {
  display: block;
  content: "Paris";
}

.ville-marseille::after {
  display: block;
  content: "Marseille";
}

.ville-rouen::after {
  display: block;
  content: "Rouen";
}

.ville-bourg-de-peage::after {
  display: block;
  content: "Bourg de Péage";
}

.social-facebook {
  color: #3b5998;
  background-color: #96abd6;
}

.social-flickr {
  color: #0063db;
  background-color: #75b3ff;
}

.social-linkedin {
  color: #007bb6;
  background-color: #50c6ff;
}

.social-twitter {
  color: #00aced;
  background-color: #87deff;
}

.social-vimeo {
  color: #aad450;
  background-color: #e6f2cb;
}

.social-youtube {
  color: #bb0000;
  background-color: #ff5555;
}

.social-facebook {
  color: #3b5998;
  background-color: #96abd6;
}

.social-flickr {
  color: #0063db;
  background-color: #75b3ff;
}

.social-linkedin {
  color: #007bb6;
  background-color: #50c6ff;
}

.social-twitter {
  color: #00aced;
  background-color: #87deff;
}

.social-vimeo {
  color: #aad450;
  background-color: #e6f2cb;
}

.social-youtube {
  color: #bb0000;
  background-color: #ff5555;
}/*# sourceMappingURL=reponse.css.map */