body {
  background-color: lightsalmon;
}

.container {
  display: grid;

  grid-template-columns:
    minmax(6rem, 1fr)
    [start]
    repeat(8, minmax(min-content, 14rem))
    [end]
    minmax(6rem, 1fr);
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns:
      [start]
      repeat(8, minmax(min-content, 14rem))
      [end];
  }
}

.galerie {
  background-color: #eee;
  grid-column: start / end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);

  grid-gap: 1.5rem;
  padding: 1.5rem;
}

@media screen and (max-width: 600px) {
  .galerie {
    grid-gap: 0.5rem;
    padding: 1.5rem;
  }
}

.galerieImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.item3 {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
}

.item4 {
  grid-row: 1 / span 3;
  grid-column: 5 / span 3;
}

.item11 {
  grid-row: 1 / span 3;
  grid-column: 8 / span 1;
}

.item2 {
  grid-row: 3 / span 2;
  grid-column: 1 / span 3;
}

/* .item7 {
  grid-row: 3 / span 1;
  grid-column: 4 / span 1;
} */

.item8 {
  grid-row: 5 / span 4;
  grid-column: 1 / span 1;
}

.item6 {
  grid-row: 5 / span 2;
  grid-column: 2 / span 2;
}

.item9 {
  grid-row: 7 / span 2;
  grid-column: 2 / span 2;
}

.item5 {
  grid-row: 4 / span 5;
  grid-column: 4 / span 2;
}

.item12 {
  grid-row: 4 / span 2;
  grid-column: 6 / span 2;
}

.item13 {
  grid-row: 4 / span 2;
  grid-column: 8 / span 1;
}

.item14 {
  grid-row: 6 / span 3;
  grid-column: 6 / span 1;
}

.item10 {
  grid-row: 6 / span 3;
  grid-column: 7 / span 2;
}
