<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blog - <?= isset($pageTitle) ? $pageTitle : '' ?></title>

    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap/_variables.scss">
    <link rel="stylesheet" href="../css/bootstrap/_bootswatch.scss">

    <script src="../js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- les scrypt des champs texte -->
    <script src="../js/main.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/dataTable/datatables.min.js"></script>
    <script src="../js/tinyMCE/tinymce.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/style.css">



</head>




<body>
    <header>



<!-- Navigation -->
<nav class="navbar  navbar-expand-lg navbar-dark bg-info static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../uploads/dressmycat-good.png" class="w-75" alt="..." height="200">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


  
</nav>
     



 <!-- <img src="../uploads/dressmycat.png" id="logo" class="img-fluid d-block" alt=""> -->


      
    </header>
   
    <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
    <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
    <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
    <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>


    <main class="container-fluid">

    <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>

        <?php if (isset($pageTitle)) : ?><h1><?= $pageTitle ?></h1><?php endif; ?>
        <!-- ICI JE METS LA VUE DE LA PAGE CONCERNEE ! -->
        <?php include('views/' . $view . '.phtml'); ?>


        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-4">
                </div>  
            </div> 
        </div>  
    </main>   

    

</body>

</html>