<form action="addUser.php" method="POST" enctype="multipart/form-data" novalidate>

    <fieldset>
        <div class="mb-3 row">
            <div class="col-6">
                <label for="firstname">Prénom</label>
                <input type="text" class="form-control <?php if (isset($errors['firstname'])) : ?> is-invalid<?php endif; ?>" id="firstname" name="firstname" value="<?= $firstname ?>" required>
                <?php if (isset($errors['email'])) : ?>
                    <div id="validationFirstname" class="invalid-feedback">Erreur ! Prénom invalide : merci de saisir votre prénom !</div>
                <?php else : ?>
                    <small id="titleHelp" class="form-text text-muted">Saisissez le prénom de l'utilisateur</small>
                <?php endif; ?>

            </div>
            <div class="col-6">
                <label for="lastname">Nom</label>
                <input type="text" class="form-control" id="lastname" name="lastname" value="<?= '' ?>" required>
                <small id="titleHelp" class="form-text text-muted">Saisissez le nom de l'utilisateur</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control<?php if (isset($errors['email'])) : ?> is-invalid<?php endif; ?>" id="email" name="email" value="<?= $email ?>" required>
            <?php if (isset($errors['email'])) : ?>
                <div id="validationEmail" class="invalid-feedback">Erreur ! Email invalide : merci de corriger votre email !</div>
            <?php else : ?>
                <small id="titleHelp" class="form-text text-muted">Saisissez l'email de l'utilisateur</small>
            <?php endif; ?>
        </div>
        <div class="mb-3 row">
            <div class="col-6">
                <label for="password">Mot de passe <span class="badge bg-primary">Au moins 8 caractères</span></label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required>
            </div>
            <div class="col-6">
                <label for="password">Confirmez</label>
                <input type="password" class="form-control" id="passwordConf" name="passwordConf" placeholder="Confirmez le mot de passe" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="role">Rôle</label>
            <select class="form-control" id="role" name="role" required>
                <?php foreach (ROLES as $role => $nameRole) : ?>
                    <option value="<?= $role ?>"><?= $nameRole ?></option>
                <?php endforeach; ?>
            </select>
            <small id="catHelp" class="form-text text-muted">Sélectionnez un role pour l'utilisateur</small>
        </div>

        <div class="mb-3">
            <label for="avatar" class="form-label">Avatar</label>
            <input class="form-control" type="file" name="avatar" id="avatar">
        </div>

        <div class="mb-3">
            <label for="bio" class="form-label">Bio</label>
            <textarea class="form-control" id="bio" rows="3" name="bio"></textarea>
        </div>

        <div class="form-check form-switch mb-3">
            <input type="checkbox" class="form-check-input" name="valide" id="valide">
            <label class="custom-control-label" for="valide">Activer l'utilisateur</label>
            <small id="publieHelp" class="form-text text-muted">L'utilisateur ne pourra pas se loguer si vous désactivez cette option !</small>
        </div>



        <div class="mb-3">
            <a href="listeUser.php" class="btn btn-outline-primary">Annuler</a>
            <button type="submit" class="btn btn-primary">Créer l'utilisateur</button>
        </div>
    </fieldset>
</form>