/*css general*/

body{
  font-family: Arial;
  font-size: 12pt;
  width: 100%;
  
  background-color: whitesmoke;
}

/*header*/



.titre{
  display: inline-block;
  margin: auto 10px;
  padding: 10px 0;
}



.menuheader, .menuheader1{
  display: inline-block;
  vertical-align: top;
  line-height: 60px;
  }

.menuheader1{
  display: inline-block;
  text-align: center;
  width: 150px;
  
  
}

a{
  text-decoration: none;
  color: white;
  
}

.menux:hover{
  background-color: grey;
  color: white;
  padding: 15px 30px 20px 30px;
  transition:background-color 2s ease-in-out; 
   /*transition*/
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

header, footer{
  
  width: 100%;
  background-color: black;
  color: white; /*text color*/
  
  
  animation: fadein 3s ease-in alternate ;
  
  
}






h1{
  color: white; /*text color*/
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

h2{
  font-weight: bold;
  font-size: 2.2em;
  display: inline-block;
  vertical-align: top;
  line-height: 154px;
  
}

.red{
  display: block;
  color: red;
  text-align: right;


}

@keyframes shakeit {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.red:hover{
  animation: shakeit 3s ease-in alternate infinite;
  
}
/*header fin*/

/*flex version
.section{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  margin-right: 1%;
  width: 66%;
}
*/

section{
  width: 100%;
}

article{
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
  
}

h2{
  text-transform: uppercase;
  font-size: 1.8em;
  padding: 10px;
  text-align: center;
  

  
  
}



.img1{
  float: left;
  width: 29%;
}

.lorem1{
  display: inline-block;
  width: 69%;
  
}

aside{
  
  background-color: grey;
  display: inline-block;
  width: 25%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

aside>.asidex{
  margin: 5px;
  color: black;
}

.asidex:hover{
  text-decoration: none;
  color: red;
  
}

aside>a{
  transition:color 1s ease-in-out; 
}

/*footer*/

footer{
  position: fixed;
  bottom: 0px;
  color: white;
  background-color: black;
  width: 100%;
  padding: 10px;
  box-shadow: 60px -16px teal;

}

.footermain{
  display: flex;
  justify-content:space-between;

}

.lienfooter{
  color: grey;
}

.lienfooter:hover{
  text-decoration: underline;
}

.lienfooter3{
   color: grey;
   transition: font-size .5s ease;
   
}

.lienfooter3:hover{
   text-decoration: none;
   color: red;
  
  font-size: 1.5em;
  
  
}

.footer2>ul>.lienfooter3{
  transition:color 1s ease-in-out;
}


.parttwo{
   padding-left: 10px;
}

h3{
   padding: 20px 0;
}

.lienfooter2{
   padding-right: 20px;
}

@keyframes color-change {
  0% { color: lightgreen; }
  10% { color: lightsalmon; }
  50% { color: lightblue; }
  90% { color: lightgreen; }
  100% { color: lightsalmon; }
}

.footer1>h3{
  animation: color-change 2s infinite;
}


@keyframes slidein {
  0% {
      transform: translate3d(-1000px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-400px, 0, 0);
    }
  
    100% {
      transform: translate3d(0px, 0, 0);
    }
}

article{
  animation-duration: 3s;
  animation-name: slidein;
}

/**************************/

@keyframes slidein2 {
  0% {
      transform: translate3d(1000px, 0, 0);
    }
    
    
  
    30%, 50%, 70% {
      transform: translate3d(400px, 0, 0);
    }
  
    100% {
      transform: translate3d(0px, 0, 0);
    }
}

aside{
  animation-duration: 3s;
  animation-name: slidein2;
}

/*tablette*/

  @media (max-width: 768px) {
    
  .menux, .asidex, .lorem1   {
    
    font-size: 1.2em;
    
  }
  
  section{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
    
  }

  article, aside{
    width: 100%;
    
  }
  
  .img1{
    width: 50%;
    float: left;
  }

  .lorem1{
    width: 50%;
  }

  aside{
    padding: 0px;
  }
  }

         /*mobile*/
  @media (max-width: 630px) {


.menuheader{
  display: none;
}

.img1, .lorem1{
  width: 100%;
  
}

aside{
  padding: 0px;
}

.titre{
  text-align: center ; 
  display: block;
}

  }