*{
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    
    box-sizing: border-box;
    
}

body{
    width: 100%;
}

img{
    width: 200px;
    height: 200px;
    border: solid;
    
}

#galerie{
    
    display: flex;
    flex-wrap: wrap;
}

div>p{
    position: absolute;
    text-align: left;
    padding-left: 10px;
    opacity: 0.6;
    width: 200px;
    margin-top: 65%;
    
    
}

#galerie>div{
    padding: 7px;
    position: relative;
}

.icone{
    content:url(images/icone_fleur.jpg);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    
}

/* 7)	Ajout des effets au survol, au passage de la souris sur les div, les bordures doivent changer de couleur et les éléments p doivent être masqués. */

img:hover, .icone{
    border: solid lightblue;
    
}
div:hover p{
visibility: hidden;
}

