.pika{
    width: 100%;
    margin-bottom: ;
    z-index: 10;
}

#parent {
    position: relative;
      display: flex;
      align-items:center;
      
      flex-direction: column;

      padding-bottom: 20%;

      
      
      
      
   
   }

   .superpose{
    display: flex;
    flex-direction: column;
       z-index: 11;
    
   }

   header{

       background-image: url("24yVINP.png");
       
       
   }

   #text1, hr{
       color: aqua;
   }

   .altbody{
       background-image: url("");
        width: 100%;
        height: 100%;

   }

   p{
        font-size: 2em;
        text-align: center;
   }

   #img_2{

    margin-top: 1%;
    
   }

   footer{

        background-image: url("24yVINP.png");
   }

   .lorem{
       text-align: right;
       color: aqua;
   }

   /*footer*/
.copyright{
    text-align: center;
    font-size: 90%;
    
}


/* reseau*/
.reseau{
    height: 45px;
    margin: 1%;
    
    
}
.masterreseau{
    display: flex;
    justify-content: center;
    
}

/*footer*/

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
  }
  #scroll_to_top img {
    width: 50px;
  }

.lorem{
    margin-left: 45%;
    margin-right: 2%;
}
  /*footer fin*/

  .img2{
      width: 100%;
  }

  .menu{
    
    border-radius: 30px; /* bord arondit*/
    display: flex;
    justify-content: space-between;
    
  
    
}
ul{
    padding-inline-start: 0px !important;
    
}
.menuheader{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    margin-left: 2%;
    
    
}

.menuheader, li /* menu header*/
{
  
    display: inline;
    font-size: 120%;
    display: inline-flex;
    
    
    
}    

a:link, a:visited {
    
    color: rgb(255, 255, 255);
    
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    
  }

a:hover{ 
    background-color: rgb(255, 255, 255);
    transition:all 0.7s;
    color: rgb(0, 0, 0);
    border-radius: none;
}

li{
    
  
}

/*css formulaire*/

.formulaire1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
    
 }

 .formu2{
    justify-content: left;
 }

 .formu3{
     justify-content: right;
     
 }

 .formulaire2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }

 #comments{
     width: 250px;
     height: 150px;
 }

 .choix{
    display: flex;
    align-items: center;
 }

.formul1{
    font-size: 1.8em;
    margin: 15%;
    background-color: blueviolet;
}

.page3{
    background: linear-gradient(0.50turn, #000000, #8c9da3, #2B2B2B);
}

.formu5{
    margin-right: 5%;
    margin-bottom: 3%;
    width: 10px;
    height: 5px;
    
}

button{
    border: 5px solid rgb(18, 179, 190);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}