body{
    background-color: whitesmoke;

    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.entete{
    background-color: lightseagreen;
    color: #785964;
    text-transform: uppercase;
    font-size: 2.5em;
    padding: 20px;
    border-bottom: solid 7px #785964;
}

.entete>span{
    color: white;
    text-transform: capitalize;
    font-size: 0.6em;
}

h1{
    background-color: #d5c7bc;
    color: #785964;
    padding: 30px 0;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}

.introduction{
    color: lightseagreen;
    padding: 30px 5px;
}

p>strong{
    color: black;
    background-color: #d5c7bc;    
}

p>a{
    text-decoration: none;
    color:fuchsia;
    font-style: italic;
}

h2{
    color: #785964;
    font-size: 1.3em;
    border-bottom: solid 2px #785964;
    margin: 20px 0;
}


h2>.chapitre_numero{
    background-color: #785964;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.chapitre_introduction{
    border: solid 3px lightseagreen;
    border-radius: 10px;
    margin: 20px 0;
    background-color: rgb(196, 218, 216);
    height: 30px;
    font-size: 1.2em;
    padding-top: 15px;
    padding-left: 10px;
    
}

p>em{
    font-style: italic;
    color: lightgreen;
}

.liste_personnalisee>li{
    color: green;
}

.liste_personnalisee>li:first-child{
    color: red;
}

p{
    margin: 25px 0;
}

ul{
    list-style-type: square;
}

li>a{
    text-decoration: none;
    color: #785964;
    font-style: italic;
}
