body {
    margin: 0;
    overflow: hidden;
    background: #000 url('../images/sol.jpg');
    background-size: cover;
    -webkit-transition: background-image 0.2s ease-in-out;
    -moz-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

body.terre {
    background: #000 url('../images/adf_pic.png');
    background-size: cover;
}

#compteur {
    position: absolute;
    left:50px;
    top:100px;
    width: 250px;
    height: 120px;
    background-image: url('../images/compterebours.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

#compteur span {
    display: inline-block;
    width: 230px;
    height: 130px;
    font-size: 5rem;
    color: black;
    text-align: center;
    font-weight: bold;
}


#miseafeu {
    position: absolute;
    left:100px;
    bottom: 100px;
    width:50px;
    height:50px;
    cursor: pointer;
}

#fusee {
    position: absolute;
    bottom:0px;
    width:100px;
    left: 50%;
    transform: translate(-50%);
    transition: bottom 20s ease, left 15s, transform 5s 1s;
    transform: rotate(360deg);
}

#fusee.decollage {
    bottom: 2000px;
    left: 75%;
    transform: rotate(30deg) scale(0.5);
}


.etoile {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    z-index:-1;
}

.etoile.petite {
    width: 1px;
    height: 1px;
}

.etoile.normal {
    width: 2px;
    height: 2px;
}

.etoile.grande {
    width: 3px;
    height: 3px;
}