#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
  }
  #scroll_to_top img {
    width: 25px;
  }


  #scroll_to_bot {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    left: 30px;