/*ex5*/

body{
    font-family:Helvetica, Arial,  sans-serif ;
    line-height: 1.5;
    margin: 10px;
    font-size: 1em;
}

h1{
    font-family:Helvetica, Arial,  sans-serif ;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    color: #454545;
    font-weight: bold;
}

h1 + p{
    color: #7a7a7a;
    margin-left: 20px;
    margin-bottom: 1.5em;

}

blockquote{
    font-style: italic;
    font-size: 1.2em;
    margin-right: 80px;
    margin-bottom: 20px;
    margin-left: 60px;
    background-color: #e7f2fa;
    color: #444;
    border-left: solid 5px #8870ff ;
    padding: 15px;
}

em{
    display: block;
    text-align: right;
}

a{
color: #8870ff;
margin-left: 20px;
}