.header{
 background-image: url(http://place-hold.it/500x500);
background-position: center;
background-repeat: no-repeat;
text-align: center;
 width: 100%;
 height: 300px;
}

.header-title{
    margin-top: 100px;
}

