.article{
    position: relative;
    background-color: gray;
    margin: auto;
    width: 300px;
    height: 300px;
}

.details{
    position: absolute;
    margin-left: 80px;
    margin-top: 100px;
}

.fix{
    position: fixed;
    right: 0%;
}