/*ex9 last*/

div{
	border: 1px solid rgba(0,0,0,.3);
	text-align: center;
        color:#fff;
        
       }

.box{

background: #3498db 5px;
height: 40px;
margin: 5px;


}
   
.conteneur{
    display: flex;
    align-items: center;
    padding: 5px;
    
    
    
}