/* 6 bis*/

body{
    border: solid rgba(255, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    line-height: 1.5;
}
h2{
    border-bottom: dotted;
}
.detail-article{
    text-align: center;
}
p{
    text-align: justify;
    color: #7B7B7B;
    font-size: 1em;
}
a{
    border: solid;
    border-radius: 200px/50px;
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 5px;
}