/*exercice 1 */

#layout{
    background-color: black;
    padding: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;  
}

.gauche{
    text-align: left;
}

.droite{
    text-align: right;
}

#layout>h2, p, button{
    color: white;
}

button{
    background-color: blue;
}

/* exercice 2 */

