
/* exercice 4 */


td, th{
   border: 1px solid #333; 
    text-align: center;
    padding: 10px;
}

tbody>

legend{
    font-size: 1.5em;
    text-transform: capitalize;
}

.mois{
    color: blue;
    font-size: 2em;
}


tbody>tr:nth-child(2n){
    background-color: #FCB941;
}

tbody>tr:nth-child(2n+1){
    background-color: #F1654C;
    
}

tbody>tr:nth-child(2n+1) :first-child
{
    background-color: #7E3661;
    color: white;
}

tbody>tr:nth-child(2n) :first-child
{
    background-color:#888888;
    color: white;
}

tbody>tr:last-child{
    background-color: #8870FF;
}

tbody>tr:nth-child(2n+1) :last-child{
    background-color: #8870FF;
    color: white;
}

tbody > tr:last-child{
    background-color: #FCB941
} /*triché*/

tr:first-child th:nth-child(2){
    color: blue;
    font-size: 2em;
}


th:last-child[rowspan]{
    border-top: none;
    border-right: none;
}


legend{
   
}

