@charset "UTF-8";
/* CSS Générales */
body, html 										{height:100%; width:100%;}
body											{background:#4B4444; font-family: 'Roboto', sans-serif; font-weight:400; box-sizing: border-box;}

.clear_float 									{clear:both;}


/****   MISES EN PAGES DIFFÉRENTES SUR UNE MÊME BASE HTML    ****/

/* Mise en page 1 | Header, Menu, Footer & Contenu centrés sur une largeur de 1200px. Sidebar à gauche  */

/**/
#conteneur 										{width:1000px; margin:0 auto; background:#FFF;}
header, aside, .contenuPrincipal, footer 		{padding:20px;}


header 											{height:100px; background:#8DBBFF url(images/bande-couleur.png) repeat-x; text-align:center; color:#FFF;}

nav ul 											{text-align:center; background:#6767BA;}
nav li 											{ display:inline-block; height:30px; line-height:30px; width:70px; margin-right:-4px; transition:.3s ease-in-out; -webkit-transition:.3s ease-in-out; -moz-transition:.3s ease-in-out; -ms-transition:.3s ease-in-out; -o-transition:.3s ease-in-out; }
nav li a 										{text-decoration:none; color:#FFFFFF;}
nav li:hover 									{background:#4E4E8A;}
.sousMenu										{display:none;}


#contenu 										{height:400px;}
aside 											{float:left; width:160px; height:100%; background:#B9B9B9; }
.contenuPrincipal 								{float:right; width:760px; height:100%;}

footer 											{height:100px; background:#292324 url(images/bande-couleur.png) repeat-x; color:#FFF; text-align:center; position:relative}
footer, header									{line-height:100px;}
#reseaux										{display:inline-block; position:absolute; bottom:20px; right:20px; height:26px}
.reseau 										{display:inline-block; width:26px; height:26px; text-indent:-7000px; transition:0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s;}
#fb												{background:url(images/reseaux2.png) no-repeat 0px -26px;filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%);}
#tw 											{background:url(images/reseaux2.png) no-repeat -26px -26px;filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%);}
#fb:hover, #tw:hover  							{filter: grayscale(0); -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); }




/* Mise en page 2 | Header, Menu, Contenu & Footer sur toute la largeur. Sidebar de 200px à gauche */

/*
#conteneur 										{width:100%; height:100%; margin:0 auto; background:#FFF;}
header, aside, .contenuPrincipal, footer 		{padding:20px; box-sizing:border-box;}


header 											{height:100px; background:#8DBBFF url(images/bande-couleur.png) repeat-x; text-align:center; color:#FFF;}

nav ul 											{text-align:center;box-shadow:0 2px 10px rgba(43,36,36,0.57); margin-bottom:20px}
nav li 											{display:inline-block; height:50px; line-height:50px; width:100px; margin-right:-4px; box-sizing:border-box;}
nav li a 										{text-decoration:none; color:#CCC;}
nav li:hover 									{ border-bottom: 5px solid #CCC; transition:0.3s; -webkit-transition:0.3s; -moz-transition:0.3s; -ms-transition:0.3s; -o-transition:0.3s; }
nav li:hover a									{color:#578FE3; transition:0.3s}
.sousMenu										{display:none;}


#contenu 										{height:calc(100% - 170px);}
aside 											{float:left; min-width:200px; height:calc(100% - 120px); border-right: 5px solid #CCC;}
.contenuPrincipal 								{float:left; width:auto; height:100%;}

footer 											{height:100px; background:#292324 url(images/bande-couleur.png) repeat-x; color:#FFF; text-align:center; position:absolute; bottom:0px; width:100%;}
footer, header									{line-height:60px;}
#reseaux										{display:inline-block; position:absolute; bottom:20px; right:20px; height:26px}
.reseau 										{display:inline-block; width:26px; height:26px; text-indent:-7000px; transition:0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s;}
#fb												{background:url(images/reseaux2.png) no-repeat 0px -26px;filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%);}
#tw 											{background:url(images/reseaux2.png) no-repeat -26px -26px;filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%);}
#fb:hover, #tw:hover  							{filter: grayscale(0); -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); }
*/



/* Mise en page 3 | Header, Menu & Footer sur toute la largeur. Contenu centré sur 1200px de large. Sidebar de 200px à droite */

/*
#conteneur 										{width:100%; height:100%; margin:0 auto; background:#4B4444;}
header, aside, .contenuPrincipal, footer 		{padding:20px; box-sizing:border-box;}


header 											{height:100px; background:#8DBBFF url(images/bande-couleur.png) repeat-x; text-align:center; color:#FFF;}

nav ul 											{text-align:center; background:#6767BA;}
nav li 											{display:inline-block; height:30px; line-height:30px; width:70px; margin-right:-4px; transition:.3s ease-in-out;}
nav li a 										{text-decoration:none; color:#FFFFFF;}
nav li:hover 									{background:#4E4E8A;}
.sousMenu										{display:none;}


#contenu 										{height:calc(100% - 130px); width:1200px; margin:0 auto; background:#FFF;}
aside 											{float:right; min-width:200px; height:100%; background:#B9B9B9;}
.contenuPrincipal 								{float:left; width:auto; height:100%;}

footer 											{height:100px; background:#292324 url(images/bande-couleur.png) repeat-x; color:#FFF; text-align:center; position:absolute; bottom:0px; width:100%;}
footer, header									{line-height:60px;}
#reseaux										{display:inline-block; position:absolute; bottom:20px; right:20px; height:26px}
.reseau 										{display:inline-block; width:26px; height:26px; text-indent:-7000px; transition:0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s;}
#fb												{background:url(images/reseaux2.png) no-repeat 0px -26px;filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%);}
#tw 											{background:url(images/reseaux2.png) no-repeat -26px -26px;filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%);}
#fb:hover, #tw:hover  							{filter: grayscale(0); -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); }
*/





/* Mise en page 4 | Header & Footer sur toute la largeur. Contenu centré sur une largeur de 1200px. Menu en colonne à gauche sur 200px. Header, Menu & Footer Fixe */

/*
#conteneur 										{width:100%; height:100%; margin:0 auto; background:#4B4444;}
header, aside, .contenuPrincipal, footer 		{padding:20px; box-sizing:border-box;}


header 											{height:100px; background:#8DBBFF url(images/bande-couleur.png) repeat-x; text-align:center; color:#FFF;box-shadow:0 2px 10px rgba(43,36,36,0.57); position:fixed; width:100%; border-bottom:5px solid #47B983; z-index:1;}

nav 											{width: 1200px; margin: 0 auto; position:relative}
nav ul 											{text-align:center; width:200px; position:fixed; padding-top:120px}
nav li 											{height:30px; line-height:30px; cursor:pointer;}
nav li a 										{text-decoration:none; color:#B3A6A6;}
nav li:hover a									{color:#FFF; transition:.2s ease-out;}
nav li:hover									{background:#47B983;transition:.5s ease-out;}
.sousMenu										{display:none;}


#contenu 										{height:calc(100%); width:1200px; margin:0 auto; background:#FFF; padding-top:100px;}
aside 											{display:none;}
.contenuPrincipal 								{float:right; width:1000px; height:100%; background:#C0BAB6}

footer 											{height:100px; background:#292324 url(images/bande-couleur.png) repeat-x; color:#FFF; text-align:center; position:fixed; bottom:0px; width:100%;box-shadow:0 -2px 10px rgba(43,36,36,0.57)}
footer, header									{line-height:60px;}
#reseaux										{display:inline-block; position:absolute; bottom:-13px; right:20px;}
.reseau 										{display:inline-block; width:26px; height:26px; text-indent:-7000px; transition:0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s;}
#fb												{background:url(images/reseaux2.png) no-repeat 0px -26px;filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%);}
#tw 											{background:url(images/reseaux2.png) no-repeat -26px -26px;filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%);}
#fb:hover, #tw:hover  							{filter: grayscale(0); -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); }
*/


/* Mise en page 5 | Header, Menu, Footer & Contenu centrés sur une largeur de 1200px et sur la hauteur de la fenêtre. Sidebar à droite. Menu avec sous-menu (Menu 4) 


body											{background:url(images/bg.jpg) no-repeat fixed; background-size:cover}
#conteneur 										{width:1000px; margin:0 auto; position:absolute;margin: auto; top:0; left:0; right:0; bottom:0; height:630px;border-radius:25px; box-shadow:5px 5px 15px rgba(0,0,0,0.80);}
header, aside, .contenuPrincipal, footer 		{padding:20px; box-sizing:border-box}


header 											{height:100px; background:#559A69 url(images/bande-couleur.png) repeat-x; text-align:center; color:#FFF; border-radius:20px 20px 0 0;}

nav ul 											{text-align:center; background:#559A69;}
nav li 											{display:inline-block; height:30px; line-height:30px; width:100px;position:relative;transition:.3s ease-out}
nav li a 										{text-decoration:none; color:#A1E2C3; transition:.3s ease-out;}
nav li:hover a.MenuItem							{color:#FFF; text-decoration:underline;}


#contenu 										{height:400px;}
aside 											{float:right; width:250px; height:100%; background:#B9B9B9; }
.contenuPrincipal 								{float:left; width:750px; height:100%; background:rgba(255,255,255,0.7);}

footer 											{height:100px; background:#292324 url(images/bande-couleur.png) repeat-x; color:#FFF; text-align:center;border-radius:0 0 20px 20px}
footer, header									{line-height:60px;}
#reseaux										{display:inline-block; position:absolute; bottom:-13px; right:20px;}
.reseau 										{display:inline-block; width:26px; height:26px; text-indent:-7000px; transition:0.3s; -webkit-transition:0.3s; -moz-transition:0.3s;border-radius: 13px;}
#fb 											{background:url(images/reseaux.png) no-repeat 0px 0px;}
#fb:hover 										{background:url(images/reseaux.png) no-repeat 0px -26px;}
#tw 											{background:url(images/reseaux.png) no-repeat -26px 0px;}
#tw:hover 										{background:url(images/reseaux.png) no-repeat -26px -26px;}


.sousMenu 										{position: absolute; left: 0; top: 2em; white-space: nowrap; background: #559A69; margin-top: -2px; }
.sousMenuItem									{position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; float: left; transition:.3s ease-out; }
nav li:hover .sousMenuItem 						{position: static; left: auto; width: auto; height: auto; overflow: visible; padding-right:20px; padding-left:10px;}
.sousMenuItem:hover 							{}
.sousMenuItem a:hover 							{color:#FFF; text-decoration:underline;}
.menuS .MenuItemSousMenu:after 					{content: url(images/flecheSousMenu.png); margin-left:7px;}
*/