<p class="text-end"><a href="addCategory.php" class="btn btn-info"><i class="icon-add"></i> Ajouter une catégorie</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Num</th>
            <th>Picture</th>
            <th>Titre</th>
            <th>Date de création</th>
            <th>Slug</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($categories as $category) : ?>
            <tr>
                <td><?= $category['c_id'] ?></td>
                <td><?php if (!empty($category['c_picture'])) : ?><img src="<?= UPLOADS_URL?>category/<?= $category['c_picture'] ?>" width="100"><?php endif; ?> </td>
                <td><?= $category['c_title'] ?></td>
                <td><?= $category['c_created_at'] ?></td>
                <td><?= $category['c_slug'] ?></td>
                <td><a href="addCategory.php?id=<?= $category['c_id'] ?>"><i class="icon-create"></i></a>
                    <a href="#" class="delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-action="delCategory.php" data-id="<?= $category['c_id'] ?>" data-title="<?= $category['c_title'] ?>" data-token="<?= $token?>"><i class="icon-delete"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>

    </tbody>
</table>