/*CSS HEADER*/

.menu{
    background: linear-gradient(to left, transparent, #565657),
    url("rLHrWII.jpeg");
    border-radius: 30px; /* bord arondit*/
    display: flex;
    justify-content: space-between;
    
}
ul{
    padding-inline-start: 0px !important;
}
.menuheader{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    margin-left: 2%;
    
}

.menuheader, li /* menu header*/
{
  
    display: inline;
    font-size: 120%;
    display: inline-flex;
    
    
    
}    

a:link, a:visited {
    
    color: black;
    
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    
  }

a:hover{ 
    background-color: rgb(255, 255, 255);
    transition:all 0.7s;
    color: rgb(0, 0, 0);
    border-radius: none;
}
.logo{
    
    display: inline-block;
   
}

.pika{
    width: 100%;
    margin: 0%;
   
}

/*CSS HEADER fin*/

/*footer*/
.copyright{
    text-align: center;
    font-size: 90%;
    
}


/* reseau*/
.reseau{
    height: 45px;
    margin: 1%;
    
    
}
.masterreseau{
    display: flex;
    justify-content: center;
    
}

/*footer*/

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
  }
  #scroll_to_top img {
    width: 50px;
  }

  /*footer fin*/

  

  .conteneur1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin-right: 1%;
  }

  .conteneur2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-left: 1%;
  }

.menuheader a.actif{
     background-color: red;
 }


 

 
h1{
    background: linear-gradient(#dbcdcd, #000000);
    padding: 50px;
    margin: 0%;
    text-align: center;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.altbody{
    background-image: url(3840x2160.png);
    height: 100%;
}
p{
    color:antiquewhite;
}

.altbody2{
    background-image: url(rLHrWII.jpeg);
}

.altbody3{
    background-image: url(18-186946_pale-king-hollow-knight.jpg);
}

.img1{
    width: 500px;
	height: 500px;
}
.img11{
    width: 600px;
	height: 500px;
}
.img12{
    width: 750px;
	height: 500px;
}
.img13{
    width: 900px;
	height: 500px;
}
.img14{
    width: 900px;
	height: 600px;
}



.lorem1{
    margin-right: 5%;
    color: rgb(88, 148, 148);
    font-size: 1.5em;
}
.lorem2{
    margin-left: 5%;
    color: rgb(24, 167, 167);
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium';
}

p{
    font-size: 1.3em;
    font-family: Tahoma;
    margin-right: 1%;
    margin-left: 1%;
}

/*css formulaire*/

.formulaire1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }

 .formu2{
    justify-content: left;
 }

 .formu3{
     justify-content: right;
 }

 .formulaire2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }

 #comments{
     width: 250px;
     height: 150px;
 }

 .choix{
    display: flex;
    align-items: center;
 }

.formul1{
    font-size: 1.8em;
    margin: 15%;
    background-color: #808080;
}

.page3{
    background: linear-gradient(0.50turn, #000000, #8c9da3, #2B2B2B);
}

.formu5{
    margin-right: 5%;
    margin-bottom: 3%;
    width: 10px;
    height: 5px;
    
}

button{
    border: 5px solid rgb(18, 179, 190);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bodycontact{
    background: url("5J36JOB.jpg");
    width: 100%;
}

.h1bis{
    background: linear-gradient(#ffffff, #141414);
    padding: 50px;
    margin: 0%;
    text-align: center;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}