.container {
    display: grid;

    grid-template-columns:
    minmax(6rem, 1fr)
    [start]
    repeat(8, minmax(min-content, 14rem))
    [end]
    minmax(6rem, 1fr);
}

@media screen and (max-width: 900px) {
    .container {
        
    
        grid-template-columns:
     
        [start]
        repeat(8, minmax(min-content, 14rem))
        [end];
    

    }
}


.galerie {
    background-color: #eee;
    grid-column: start / end;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);

    grid-gap: 1.5rem;
    padding: 1.5rem;
}

@media screen and (max-width: 600px) {
    .galerie {
        grid-gap: .5rem;
        padding: 1.5rem;
    }
    

}

.galerieImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.item1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

.item2 {
    grid-row: 3 / 5;
    grid-column: 1 / span 3;
}

.item3 {
    grid-row: 1 / 2 span;
    grid-column: 3 / 2 span;
  }
  .item4 {
    grid-row: 1 / 3 span;
    grid-column: 5 / 3 span;
  }
  .item5 {
    grid-column: 4 / 6;
    grid-row: 4 / 9;
  }
  .item6 {
    grid-row: 5 / 7;
    grid-column: 2 / 4;
  }
  .item7 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
  }
  .item8{
    grid-row: 5 / 9;
    grid-column: 1 / 2;
  }
  .item9 {
    grid-row: 7 / 9;
    grid-column: 2 / 4;
  }
  .item10{
    grid-row: 6 / 9;
    grid-column: 7 / 9;
  }
  .item11{
    grid-row: 1 / 4;
    grid-column: 8 / 9;
  }
  .item12 {
    grid-row: 4 / 6;
    grid-column: 6 / 8;
  }
  .item13 {
    grid-row: 4 / 6;
    grid-column: 8 / 9;
  }
  .item14 {
    grid-row: 6 / 9;
    grid-column: 6 / 7;
  }