@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bt8tiq');
  src:  url('../fonts/icomoon.eot?bt8tiq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bt8tiq') format('truetype'),
    url('../fonts/icomoon.woff?bt8tiq') format('woff'),
    url('../fonts/icomoon.svg?bt8tiq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-article:before {
  content: "\e900";
}
.icon-message:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-create:before {
  content: "\e903";
}
.icon-category:before {
  content: "\e904";
}
.icon-delete:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-burger:before {
  content: "\e907";
}
