<ul id="allTasks">
    <?php foreach ($tasks as $task) : ?>
        <?php if ($task[3] == 1) : ?>
            <li data-title="
                <?php echo $task[0]  ?>    
            "class="priority1"
            data-date="
                <?php echo $task[1]  ?> 
            "
            data-description="
                <?php echo $task[2]  ?> 
            ">
        <?php elseif ($task[3] == 3) : ?>
            <li data-title="
                <?php echo $task[0]  ?>    
            " class="priority3"
            data-date="
                <?php echo $task[1]  ?> 
            "
            data-description="
                <?php echo $task[2]  ?> 
            ">
        <?php else : ?>
            <li data-title="
                <?php echo $task[0]  ?>    
            " class="priority2"
            data-date="
                <?php echo $task[1]  ?> 
            "
            data-description="
                <?php echo $task[2]  ?> 
            ">
        <?php endif; ?>
            <?= $task[0] ?></li>
    <?php endforeach; ?>
</ul>

