<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
</head>

<body>
    <header>
        <button  id="Ajouter_une_tache">+ Ajouter une tâche</button>
    </header>

    <main>
        <!-- ICI JE METTS LA VUE DE LA PAGE CONCERNEE ! -->
        <?php include('tpl/' . $view . '.phtml'); ?>
    </main>

    <div class="toggletest" id="modal">
        <form  action="addTask.php" method="POST">
            <input type="text" placeholder="name of task" name='title'>
            <input type="date" placeholder="date of task" name='date'>
            <input type="text" placeholder="describe your task" name='describe_of_the_task'>
            <select name="priorities" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <input type="submit" value="Submit_Task">
            <!-- <input type="submit" value="Supprimer"> -->
        </form>
    </div>

</body>

</html>