.container {
    display: grid;

    grid-template-columns:
    minmax(6rem, 1fr)
    [start]
    repeat(8, minmax(min-content, 14rem))
    [end]
    minmax(6rem, 1fr);
}

@media screen and (max-width: 900px) {
    .container {
        
    
        grid-template-columns:
     
        [start]
        repeat(8, minmax(min-content, 14rem))
        [end];
    

    }
}


.galerie {
    background-color: #eee;
    grid-column: start / end;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);

    grid-gap: 1.5rem;
    padding: 1.5rem;
}

@media screen and (max-width: 600px) {
    .galerie {
        grid-gap: .5rem;
        padding: 1.5rem;
    }
    

}

.galerieImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.item1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

