/* flex, logo, header  */

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* styles  */
body {
  margin: 200px;
}

header {
  padding: 10px;
}

.logo-img {
  margin-right: 10px;
  height: 60px;
  /* mdr */
  transform: scaleX(-1);
}

.logo-text {
  font-size: 1.8em;
  color: black;
}

.figure-img {
  display: block;
  width: 100%;
  height: 100%;
}

.info1,
.info2 {
  padding: 40px;
  background-color: black;
  color: white;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

p {
  /* margin-bottom: 1em; */
}

.info-link {
  text-decoration: none;
  color: orangered;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.info1 {
  grid-column: span 2;
  grid-row: span 2;
}

.info2 {
  grid-column: span 2;
}

.figure1 {
  grid-column: span 3;
  grid-row: span 2;
}
.figure6 {
  grid-column: span 2;
}
.figure7 {
  grid-column: span 3;
}
