body{
  background-color: lightgrey;
}

.rectangle{
  background-color: royalblue;
  height: 300px;
  width: 400px;
  border-radius: 2em;
 
}



.important{
  background-color: firebrick;
  transition-duration: 1s;
}

.good{
  background-color: limegreen;
  transition-duration: 1s;
}
.hidden{
  display: none;
}