html,body {
	width:100%;
	min-height:100%;
	margin:0;
	font-family:Arial, sans-serif;
    font-size:12pt;
    overflow: visible;
}
/* ______HEADER______ */

.logo{
    position: absolute;
    top:15px;
    right: 30px;
    max-width: 50px;
    z-index: 100;
}
header{
	height:60px;
	width:100%;
	background-color:rgb(156, 156, 156);
	color:rgb(66, 6, 6);

}
header h1{
    font-size:30px;
    line-height:40px;
    text-transform:uppercase;
    margin:0;
    margin-left:10px;
    margin-right:10px;
    display:inline-block;
    vertical-align: top;
    animation: fadeIn 1s linear;
    -webkit-animation: fadeIn 2s linear;
}
header nav{
	vertical-align: top;
	display:inline-block;
    height:100%;
    animation: fadeIn 1s linear;
    -webkit-animation: fadeIn 2s linear;
}
header nav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	height:100%;
}
header nav ul li{
	display:inline-block;
	margin:0;
	height:100%;
	width:150px;
	text-align:center;
}
header nav ul li a{
	display:block;
	width:100%;
	height:100%;
	line-height:40px;
	color:#FFF;
	text-decoration:none;
}
header nav ul li a:hover{
	background-color:#333;
}

/* ______le corps______ */
.home{
	width:100%;
}

.home article{
	width:35%;
	float:left;
	box-sizing:border-box;
	padding:10px;
}
.home .article3{
	width:70%;
	float:left;
	box-sizing:border-box;
	padding:10px;
}
.home article h2{
	text-align:justify;
	text-transform:uppercase;
}

.home article img{
	max-width:30%;
	margin-right:10px;
	float:left;
}
.home .article3 img{
	max-width:15%;
	
}

.home article p{
	text-align:justify;
}

.home article a{
	color:red;
	text-decoration:none;
	float:right;
}

.home article a:hover{
	text-decoration:underline;
}

.home aside{
	margin-top:20px;
	box-sizing:border-box;
	width:30%;
	padding:10px;
	float:right;
	background-color:#EEE;
    border-radius:10px;
}

.home aside ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.home aside ul li{
	margin:5px;
}

.home aside ul li a{
	color:#000;
	text-decoration:none;
}

.home aside ul li a:hover{
	color:#000;
	/*text-decoration:underline;*/
}


/* _____le footer_____ */
footer{
	color:white;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:100px;
	background-color:rgb(156, 156, 156);
	padding:10px;
    box-sizing:border-box;
    animation: fadeIn 1s linear;
    -webkit-animation: fadeIn 2s linear;
}

footer ul{
	list-style-type:none;
}

footer a{
	color:rgb(231, 18, 18);
	text-decoration:none;
}

footer a:hover{
	text-decoration:underline;
}

footer address
{
	position:absolute;
	text-align:right;
	bottom:10px;
	right:10px;
}

footer address a{
	display:block
}
/* ______page contact______ */
.form{
    float: left;
    width: 40%;
    padding: 50px 0px 50px 100px;
    font-size: 1.5em;
    color: darkred;
}
.adresse{
    float: right;
    padding: 50px 30px;
    margin-right: 100px;
}
section img{
    max-width: 400px;
}

section form label{
    padding: 5px;
}
section address {
    font-size: 18px;
    color: rgb(53, 7, 43);
}
section address a{
    font-size: 1.5em;
    color: darkred;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
}
section address a:hover{
    font-size: 2em;
}









/* Animations */
/* LIENS DE NAVIGATION */
header nav ul li a{
	display:block;
	width:100%;
	height:100%;
	line-height:40px;
	color:#FFF;
	text-decoration:none;
	transition:background-color 0.25s linear;
}

header nav ul li a:hover{
    background-color:#333;
    color:#f64646;
}
/* LIENS DE LA BALISE ASIDE */
.home aside ul li a{
	color:#000;
	text-decoration:none;
	transition: color 0.25s linear;
}

.home aside ul li a:hover{
	color:rgb(182, 182, 182);
}
/* LIEN DE CONTACT DANS LE FOOTER */
footer address a{
	display:block;
	transition:font-size 0.25s linear;
}

footer address a:hover{
	text-decoration:none;
	font-size:14pt;
}
footer ul li a{
    transition: font-size 0.25s linear, color 0.25s linear;
    -webkit-transition: font-size 0.25s linear, color 0.25s linear;
    -moz-transition: font-size 0.25s linear, color 0.25s linear;
    -ms-transition: font-size 0.25s linear, color 0.25s linear;
    -o-transition: font-size 0.25s linear, color 0.25s linear;
}
footer ul li a:hover{
    font-size: 14px;
    color: darkmagenta;
}
.home .article1, .home .article3{
	animation:slideInFromLeft 2s ease-out, fadeIn 2s ease-out;
	-webkit-animation:slideInFromLeft 2s ease-out, fadeIn 2s ease-out;
}
.home .article2{
	animation: fadeIn 2s ease-in;
	-webkit-animation: fadeIn 2s ease-in;
}
.home aside{
	animation:slideInFromRight 2s ease-out;
	-webkit-animation:slideInFromRight 2s ease-out;
}
.logo{
    animation:slideInFromTop 2s ease-out;
    -webkit-animation:slideInFromTop 2s ease-out;
}
.home article a:hover{
	animation:orangina 0.5s linear;
	text-decoration:underline;
	-webkit-animation:orangina 0.5s linear;
}

@keyframes fadeIn{
	from { opacity:0; }
	to { opacity:1; }
}
@keyframes slideInFromLeft{
	from { transform:translateX(-100%); }
	to { transform:translateX(0); }
}
@keyframes slideInFromRight{
	from { transform:translateX(100%); }
	to { transform:translateX(0); }
}
@keyframes slideInFromTop{
	from { transform:translateY(-200%); -webkit-transform:translateY(-200%); -moz-transform:translateY(-200%); -ms-transform:translateY(-200%); -o-transform:translateY(-200%); }
	to { transform:translateY(0); -webkit-transform:translateY(0); -moz-transform:translateY(0); -ms-transform:translateY(0); -o-transform:translateY(0); }
}
@keyframes orangina{
	0%,100%{ transform:translateX(0) }
	25%,75%{ transform:translateX(-10px) }
	50%{ transform:translateX(10px) }
}
/* Diaporama */
.diapo{
    padding-top: 50px;
    animation: slideInFromRight 2s;
    -webkit-animation: slideInFromRight 2s;
}
.d2{
    width: 400%;
    height: 0;
    padding-top: 75%;
    background-color: #EDEDED;
    background-image: url("images/diapo123.jpg");
    background-size: contain;
    animation: defilement2 12s linear infinite;
}

.conteneur2{
    max-width: 333px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 0px 0px 10px #777;
}

@keyframes defilement2{
    0%{transform:translate(0,0);}
    100%{transform: translate(-75%,0);}
}