/* Ne pas toucher */
.container {
  font-family: arial;
  color: #fff;
}
header,
nav,
section,
aside,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
header {
  background-color: #1abc9c;
}
nav {
  background-color: #3498db;
}
section {
  background-color: #9b59b6;
}
aside {
  background-color: #e67e22;
}
footer {
  background-color: #e74c3c;
}

/* Editer a partir d'ici */

.container {
  display: grid;

  /* exo 1 */
  /* grid-template-columns: 1fr 1fr; */

  /* ex2 */
  /* grid-template-rows: 10em 10em 10em; */

  /* exo3 */
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 1fr 1fr 1fr;
  height: 300px;
}

header {
  grid-row: auto;
  grid-column: 1 / span 3;
}

footer {
  grid-row: auto;
  grid-column: 1 / span 3;
}

/* exo 4 rendre l'exo 3 responsive */
@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
  }

  header {
    grid-column: 1;
    grid-row: 1;
  }

  footer {
    grid-column: 1;
  }
}

/* exo 5  */

nav,
aside {
  align-self: start;
}


