body{
    font-family: Helvetica;
}

h1{
    text-align: center;
    color: red;
}

h2{
    text-decoration: underline;
}


article h2{
    color: blue;
}

section h2{
    color: green;
}

article p{
 font-style: italic;
 color: red;
}

p{
    color: purple;
}