label{
    font-family: Helvetica;
}

form{
    
    width: 400px;
   padding-top: 100px;
   margin: auto;
   }
/*
}
 
.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
input{

}