html {
  font-size: 16px;
}

body {
  color: black;
  line-height: 3;
}

.containerHeader {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/499/490/464/waterfall-nature-river-stream-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.containerHeader .flexHeader1 {
  color: white;
  border: 1px solid white;
  padding: 1rem 1rem;
  margin: 1rem;
  text-decoration: none;
  width: 300px;
  height: 300px;
}
.containerHeader .flexHeader1 h1 {
  font-style: oblique;
  font-size: 3rem;
}
.containerHeader .flexHeader1 .btn {
  display: flex;
  justify-content: space-around;
}
.containerHeader .flexHeader1 .btn .btn1 {
  width: 75%;
  height: 2rem;
  background-color: #be941e;
  color: white;
  border-color: white;
}
.containerHeader .flexHeader1 .btn .btn2 {
  width: 75%;
  height: 2rem;
  background-color: #096909;
  color: white;
  border-color: white;
}
.containerHeader .flexHeader2 {
  color: white;
  border: 1px solid white;
  padding: 1rem 1rem;
  margin: 1rem;
  text-decoration: none;
  width: 300px;
  height: 300px;
  text-align: center;
  color: black;
}
.containerHeader .flexHeader2 h2 {
  font-style: oblique;
  font-size: 3rem;
  color: white;
}
.containerHeader .flexHeader2 form {
  display: flex;
  flex-direction: column;
  align-items: inherit;
}
.containerHeader .flexHeader2 form label {
  text-align: start;
}
.containerHeader .flexHeader2 form input[type=text] {
  border: 1px solid white;
  color: black;
  background-color: white;
}
.containerHeader .flexHeader2 form input[type=text]:focus {
  background-color: #be941e;
  color: black;
}
.containerHeader .flexHeader2 form .inputLog input[type=submit] {
  color: white;
  background-color: #be941e;
}
.containerHeader .flexHeader2 form .inputLog input[type=submit]:focus {
  background-color: lightgreen;
  color: black;
}

#section1 h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
#section1 hr {
  width: 20%;
}
#section1 .flexTxt {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
}
#section1 .flexTxt .flexTxt1 {
  font-size: 75%;
  line-height: 16px;
  background-color: lightcoral;
  padding: 40px;
  width: 50%;
}
#section1 .flexTxt .flexTxt2 {
  background-color: lightcyan;
  font-size: 75%;
  line-height: 16px;
  padding: 40px;
  width: 50%;
}
#section1 .flexTxt .flexTxt2 .liste ol {
  color: grey;
  font-style: oblique;
}
#section1 .flexTxt .flexTxt2 .liste ol li {
  display: flex;
  padding: 20px;
}
#section1 .flexTxt .flexTxt2 .liste ol li span {
  font-size: 2rem;
}

.flexFoot {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.5em;
  height: 50px;
}/*# sourceMappingURL=main.css.map */