html {
  font-size: 16px;
}

body {
  color: black;
  line-height: 3;
}

.containerHeader {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/499/490/464/waterfall-nature-river-stream-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .flexHeader1 {
    color: white;
    border: 1px solid white;
    padding: 1rem 1rem;
    margin: 1rem;
    text-decoration: none;
    width: 300px;
    height: 300px;

    h1 {
      font-style: oblique;
      font-size: 3rem;
    }

    .btn {
      display: flex;
      justify-content: space-around;

      .btn1 {
        width: 75%;
        height: 2rem;
        background-color: rgb(190, 148, 30);
        color: white;
        border-color: white;
      }
      .btn2 {
        width: 75%;
        height: 2rem;
        background-color: rgb(9, 105, 9);
        color: white;
        border-color: white;
      }
    }
  }

  .flexHeader2 {
    color: white;
    border: 1px solid white;
    padding: 1rem 1rem;
    margin: 1rem;
    text-decoration: none;
    width: 300px;
    height: 300px;
    text-align: center;
    color: black;

    h2 {
      font-style: oblique;
      font-size: 3rem;
      color: white;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: inherit;

      label {
        text-align: start;
      }

      input[type="text"] {
        border: 1px solid white;
        color: black;
        background-color: white;

        &:focus {
          background-color: rgb(190, 148, 30);
          color: black;
        }
      }

      .inputLog {
        input[type="submit"] {
          color: white;
          background-color: rgb(190, 148, 30);

          &:focus {
            background-color: lightgreen;
            color: black;
          }
        }
      }
    }
  }
}

#section1 {
  h2 {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  hr {
    width: 20%;
  }

  .flexTxt {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    .flexTxt1 {
      font-size: 75%;
      line-height: 16px;
      background-color: lightcoral;

      padding: 40px;
      width: 50%;
    }
    .flexTxt2 {
      background-color: lightcyan;

      font-size: 75%;
      line-height: 16px;

      padding: 40px;
      width: 50%;

      .liste {
        ol {
          color: grey;
          font-style: oblique;
          li {
            display: flex;
            padding: 20px;
            span {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

.flexFoot {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.5em;

  height: 50px;
}
