<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Blog - <?= isset($pageTitle) ? $pageTitle : '' ?></title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="../css/icones.css">
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="../js/bootstrap/bootstrap.bundle.min.js"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.php">Admin Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Articles
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="listArticle.php">Liste</a></li>
                                <li><a class="dropdown-item" href="addArticle.php">Ajouter</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Catégories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="listCategory.php">Liste</a></li>
                                <li><a class="dropdown-item" href="addCategory.php">Ajouter</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Utilisateurs
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="listUser.php">Liste</a></li>
                                <li><a class="dropdown-item" href="addUser.php">Ajouter</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main class="container-fluid">
        <?php if (isset($pageTitle)) : ?><h1><?= $pageTitle ?></h1><?php endif; ?>

        <?php if (isset($flashbag) && $flashbag != false) : ?>

            <?php foreach ($flashbag as $message) : ?>
                <div class="alert alert-dismissible alert-<?= $message['level'] ?> fade show" role="alert">
                    <p><?= $message['message'] ?></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <?php endforeach; ?>

        <?php endif; ?>

        <!-- ICI JE METS LA VUE DE LA PAGE CONCERNEE ! -->
        <?php include('views/' . $view . '.phtml'); ?>
    </main>


    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteForm" action="" method="POST">
                    <input type="hidden" value="" name="id" id="idToDelete">
                    <input type="hidden" value="" name="token" id="token">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Supprimer l'élément ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6></h6>
                        Êtes-vous sûr ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-primary">Oui</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('#deleteModal').addEventListener('show.bs.modal', function(e) {
            let button = e.relatedTarget;
            document.querySelector('#deleteForm').action = button.dataset.action;
            document.querySelector('#idToDelete').value = button.dataset.id;
            document.querySelector('#token').value = button.dataset.token;
            document.querySelector('#deleteModal .modal-body h6').textContent = button.dataset.title;
        });
    </script>

</body>

</html>