h2
{
    text-align:center;    
}

ul
{
    list-style:none;
    background-color: bisque;
    justify-content: space-between;
    height:130px;
    margin: 30px;
}

h4
{
    color: blueviolet;
    background-color: chartreuse;
}   

footer
{
background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;  
}

body
{
    background-color: darkgray;
}

li
{
  /**  margin-left: 100px; n'est pas affecté par display inline **/
  display: inline; 
}

