body{
    background-color: antiquewhite;
    text-align: center;
    font-size: 1.4em;
 }

 ul{
    list-style:none;
    background-color: bisque;
    justify-content: space-between;
     height:130px;
    margin: 30px;
}



.tab{
    margin: auto;
    }