*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato";
  color: #6d5d4b;
  margin: 100px;

  background-color: lightsalmon;
}

.container {
}

.carte {
  background-color: #f9f7f6;

  border: 1px solid #000;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
}

.carteImg {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  width: 100%;
}

.name {
  z-index: 3;
  width: 80%;
  font-family: "Lato";
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #101d3c;
  color: #fff;
  font-weight: 400;
  transform: translateY(50%);
  width: 85%;
  justify-self: center;
}

.location,
.cars {
  margin-top: 2.5rem;
}

.location,
.cars,
.details,
.prix {
  font-size: 1.5rem;
  margin-left: 2rem;
}

i {
  fill: #c69963;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.btn {
  background-color: #9e5a63;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s linear;

  width: 75%;
}
.btn:hover {
  background: #314455;
}

.grille {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 50px;
}
