<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin blog - Dashborad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/picto.css">
    <link href="../css/datatables.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/dataTable/datatables.min.js"></script>
    <script src="../js/tinyMCE/tinymce.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="index.php">Admin Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="index.php">Accueil </a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarArticle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Articles
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarArticle">
                            <a class="dropdown-item " href="listeArticle.php">Liste</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item  " href="addArticle.php">Ajouter</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Catégories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarUser">
                            <a class="dropdown-item " href="listCategory.php">Liste</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item  " href="addCategory.php">Ajouter</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="listeComment.php">Commentaires</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Utilisateurs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarUser">
                            <a class="dropdown-item " href="listUser.php">Liste</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item  " href="addUser.php">Ajouter</a>
                        </div>
                    </li>
                </ul>

                Bienvenue Toi -  <a href="logout.php" class="btn btn-light">Logout</a>

            </div>
        </nav>
    </header>

    <main class="container-fluid">
        <?php if (isset($pageTitle)) : ?><h1><?= $pageTitle ?></h1><?php endif; ?>

        <?php if (isset($flashbag) && $flashbag != false) : ?>

            <?php foreach ($flashbag as $message) : ?>
                <div class="alert alert-dismissible alert-<?= $message['level'] ?> fade show" role="alert">
                    <p><?= $message['message'] ?></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <?php endforeach; ?>

        <?php endif; ?>

        <!-- ICI JE METS LA VUE DE LA PAGE CONCERNEE ! -->
        <?php include('views/' . $view . '.phtml'); ?>
    </main>

</body>

</html>