<p class="text-end"><a href="addUser.php" class="btn btn-info">Ajouter un utilisateur</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Num</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Valid</th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($users as $user) : ?>
            <tr>
                <td><?= $user['u_id'] ?></td>
                <td><?= $user['u_lastname'] ?></td>
                <td><?= $user['u_firstname'] ?></td>
                <td><?= $user['u_email'] ?></td>
                <td><?= $user['u_role'] ?></td>
                <td><?= $user['u_status'] ?></td>
            </tr>
        <?php endforeach; ?>

    </tbody>
</table>