/*ex1*/

#hidden{
    display: none; /*faire disparaitre un element*/
}

/*ex2*/

.h1ex2{
    width:50%;
    height: 150px;
    background-color: yellow;
}

/*ex3*/

.h1ex3{
    margin-left: 30px;
    background-color: lightblue;
}

/*ex4*/

#super{
    margin: 50px 25px;
    background-color: powderblue;
}

/*ex5*/

.h1ex5{
    padding-bottom: 30px;
    background-color: lightblue;
}

/*ex6*/

.mega{
    padding: 5px;
    background-color: powderblue;
}

/*ex7*/

.h1ex7{
    
    border: 5px red solid;
    font-size: 26px;
    
}

/*ex8*/

.bodyex8{
    background-color: seagreen;
    font-size: 14px;
}

/*ex9*/

.b-52{
    color: white;
    font-size: 14px;
}

.basil-smash{
    color: yellow;
    font-size: 14px;
}

/*ex10*/

.h1ex10, .span {
    font-size: 14px;
    color: #e94a27;
}

/*ex11*/
.super1{
    text-align: center;
    font-size: 14px;
}

/*ex12*/

.h1ex12{
    font-size: 14px;
    text-transform: uppercase;
}

/*ex13*/
.imgex13{
    text-decoration: none;
}

.bb {
    text-decoration: line-through;
}

