body{
    background-color: darkslategray;
    color: white;
}

h1{
    margin: 10px;
    color: lightgray;
}

a{
    text-decoration: none;
    color: lightgray;
    font-weight: bold;
}

a:hover{
    color: grey;
}

ol{
    list-style-type: upper-roman;
    background-color: grey;
}

ul{
    list-style-type: none; 
    background-color: black;
}

ol>ul>li{
    margin-left: 10px;
}

table{
    margin: auto;
    width: 600px;
    background-color: lightslategray;
}

thead>tr>th{
    background-color: slategray;
}

td:last-child{
    text-align: right;
}

tr:nth-child(2n){
    background-color: darkgrey;
}

tr:nth-child(2n+1){
    background-color: dimgrey;
}

td:hover{
    border: solid black 1px;
}