body{
    width: 1440px;
    margin: auto;
	background-color: lightcyan;
}

header{
    position: sticky;
	top: 0px;
    background-color: lightgray;
    height: 150px;
    opacity: 0.8;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

h1{
    font-size: 2em;
    
}
 /***********menu header***********/    
 
 
.menu {
	text-align: center;
	display: flex;
    width: 30%;
    margin-top: 32px;
    

}



.menu .categorie {
	flex: 1;
	background: lightblue;
	position: relative;  
    
}

.menu .categorie ul {
	max-height: 0;
	overflow: hidden;
	transition: 0;
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 200%;  /* menu deroulant de la taille de ouai */
}

.menu .categorie:hover ul {
	max-height: 50em;
	transition: 1s;
}

.menu h3, .menu a {
	display: block;
	margin: 0;
	padding: .5em 1.5em;
	font-size: inherit;
	color: black;
	background-color: lightblue;
	text-decoration: none;
	box-sizing: border-box;
}

.menu .categorie:hover h3 {
	color: white;
	background-color: steelblue;
}

.menu a:hover {
	color: white;
	background-color: skyblue;
}

/***********menu header fin***********/


.pub{
	background-image: url("images/fire-1490099446-lb.jpg");
	margin: 0 auto;
     width: 550px;
	 height: 425px;
	 margin-top: 34px;
	 background-repeat: no-repeat;
}

/***********search bar***************/

.conteneur-flex input[type="search"]{
	flex: 1 1 auto;
	background-color: RGBa(80,130,180,0.2);
	margin-top: 32px;

	display: flex;
	
	}

	input{
	
	padding: 10px;
	background-color: RGBa(80,130,180,0.8);
	color: white;
	}

	label{
	padding: 10px;
	background-color: RGBa(80,80,80,0.8);
	color: white;
	}

	#recette{
		width: 1000px;
		color: black;
	}

	.searchbar{
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	
	/***********search bar fin***************/


	/*************menu de la page**************/
	.menutwo{
		display: flex;
		justify-content: center;
	}

	.menutwo>ul{
		display: flex;
		
	}

	.menutwo>ul>li{
		padding: 0 20px;
		margin-top: 24px;
		font-size: 1.2em;
		
	}
	.menutwo>ul>li>a{
	text-decoration: none;
		color: black;
	}

	/***********image******************/

	h2{
		text-align: center;
		font-size: 1.2em;
		font-style: oblique;
		margin-bottom: 80px;
	}

	.imgspam{
		
		

		width: 100%;
		height: 300px;
		display: flex;
		justify-content: space-between;

	}

	.image{
		height: 200px;
		width: 200px;
	}

	.sextion{
		margin: 150px 0 60px 0;
	}

	/*********footer *************/

	.imagefooter{
		width: 50px;
		height: 50px;
		padding: 8px;
		

	}

	.footermenu{
		display: flex;
		justify-content: flex-end;
	}

	footer{
		background-color: lightgreen;
		padding-top: 50px;
	}


	/***********page2*************/

	.one{
		display: flex;
		justify-content:space-between;
		padding-bottom: 15px;
	}

	.troisplusquattre{
		display: flex;
		
	}

	.three{
		
		font-size: 1.5em;
		padding: 0 20px;
		
	}

	.three>ul{
		margin-top: 15px;
		background-color: mediumspringgreen;
		padding: 15px;
	}

	.fourtest{
		background-color: mediumspringgreen;
		margin-bottom: 15px;
	}

	.four{
		
		padding-left: 350px;
		font-size: 1.5em;
		
	}

	.fourtest>h6{
		font-weight: bold;
	}


	/*******boutton*********/

	.styled {
		border: 0;
		line-height: 2.5;
		padding: 0 20px;
		font-size: 1rem;
		text-align: center;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		border-radius: 10px;
		background-color: mediumspringgreen;
		background-image: linear-gradient(to top left,
										  rgba(0, 0, 0, .2),
										  rgba(0, 0, 0, .2) 30%,
										  rgba(0, 0, 0, 0));
		box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
					inset -2px -2px 3px rgba(0, 0, 0, .6);

					
	}
	
	.styled:hover {
		background-color: rgba(255, 0, 0, 1);
	}
	
	.styled:active {
		box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
					inset 2px 2px 3px rgba(0, 0, 0, .6);
	}
	
	/******bouton fin********/

	.five{
			display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            align-content: space-around;
			padding-right: 200px;
	}

	.supremdiv{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-right: 60px;

	}

	#tresgrossediv{
		display: flex;
		padding: 0 15%;
		

	}

	.six{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 600px;
	}

	.six>img{
		margin-bottom: 5px;
	}

	h3{
		font-size: 2.5em;
		padding-bottom: 20px;
	}

	h4{
		font-size: 2.5em;
		border: solid;
		padding: 5px;
	}

	.troisplusquattre{
		padding: 20px 0;
	}

	.ouai{
		padding: 10px;
		width: 200px;
		height: 200px;
		
	}

	#ouai12{
		background-image: url("images/recettes-de-viande.jpeg") ;
		background-repeat: no-repeat;
		background-size: cover;
	
			color: green;
			font-size: 2.5em;
			text-align:right;
			
	}

	#ouai13{
		
		background-image: url("images/recettes-de-salades.jpeg") ;
		background-repeat: no-repeat;
		background-size: cover;
	
			color: black;
			font-size: 2.5em;
			text-align:right;
	}

	#ouai14{
		
		background-image: url("images/sauces.jpeg") ;
		background-repeat: no-repeat;
		background-size: cover;
	
			color: black;
			font-size: 2.5em;
			text-align:right;
	}

	#ouai15{
		
		background-image: url("images/glaces.jpeg") ;
		background-repeat: no-repeat;
		background-size: cover;
	
			color: black;
			font-size: 2.5em;
	}

	#ouai16{
		
		background-image: url("https://media1.tenor.com/images/52c95bbdb046945a5b3223a519b71c98/tenor.gif?itemid=12917111") ;
		background-repeat: no-repeat;
		background-size: cover;
	
			color: black;
			font-size: 2.5em;
	}

	#ouai17{
		
		background-image: url("https://media1.tenor.com/images/1f570a005a2cebbe025f81a386544138/tenor.gif?itemid=13268424") ;
		background-repeat: no-repeat;
		background-size: cover;
	
			color: black;
			font-size: 2.5em;
			text-align:right;
	}



	.image{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

	}

	.image:hover {
		animation: bump 1s  ;
		animation-iteration-count: 2;
		

	}

	.ouai{
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	
		}
	
		.ouai:hover {
			animation: bump 1s  ;
		animation-iteration-count: 2;
		}

		@keyframes bump {
			0% {
			  transform: scale(1);
			  -webkit-transform: scale(1);
			  -moz-transform: scale(1);
			  -ms-transform: scale(1);
			  -o-transform: scale(1);
}

			50% {
				transform: scale(1.2);
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-ms-transform: scale(1.2);
				-o-transform: scale(1.2);
}
		  
			
			100% {
				transform: scale(1);
			  -webkit-transform: scale(1);
			  -moz-transform: scale(1);
			  -ms-transform: scale(1);
			  -o-transform: scale(1);
				
			  }
		  }

		  /**bouton de remonté**/

		  #scroll_to_top {
			position: fixed;
			width: 25px;
			height: 25px;
			bottom: 50px;
			right: 8.5%;
			
			animation: opacity 5s ease   ;
			
			
			
		  }
		  #scroll_to_top img {
			width: 50px;
			
		  }


		  @keyframes opacity {
			0% {
			  opacity: 0;
			}

		
		   70%{
			   opacity: 0;
		   }
			
			100% {
				opacity: 1;
				
			  }
		  }

		  