body{
    /* background-color: #a585fc; */
}
.page{
    /* background-color: #ffffff; */
}
.entete{
    /* background-color: #ff8eaf; */
}
.menu{
    /* background-color: #fcf794; */
}
.contenu {
    /* background-color: #b0fcd6; */
}
.pieddepage{
    /* background-color: #cccccc; */
}


/* ************************************ */
.page{
    width: 900px;
    margin: 20px auto;
}

body{
    background-color: #dddddd;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

.entete{
    background-color: lightcoral;
    margin: 20px 0;
    padding: 10px;
    height: 80px;
    border: solid 3px lightgreen;
    border-radius: 10px;
    
    font-size: 1.5em;
    color: limegreen;

    background: url(css_exercice_mise_en_forme_02_logo.png);
    background-repeat: no-repeat;
    background-position: right;

    
}

.title{
    font-weight: bold;
    
}

.title, .slogan{
    padding-left: 180px;
}

.menu{
    margin: 20px 0;
    padding: 10px;
    background-color: lightpink;

    border: solid 3px lightgreen;
    border-radius: 10px;
}

.menu li{
    list-style: none;
    display: inline;
    padding: 0px 20px;
    
}

.menu>ul>li>a{
    text-decoration: none;
    color: lightslategray;
}

.menu a:hover{
    color: magenta;
}

.contenu{
    margin-top: 20px;
    padding: 10px;
    background-color: lightgray;
    border: solid 3px lightgreen;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1, h2{
    color: lightseagreen;
    padding: 0 30px;
}

.pieddepage{
    margin-top: 20px;
    padding: 10px;
    background-color: lightsalmon;

    border: solid 3px lightgreen;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    justify-content: right;

    color: lightgreen;
}