body{
    background-color: lightseagreen;
}

.grey{
    height: 200px;
    width: 1500px;
    background-color: lightslategrey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gray{
    height: 200px;
    width: 1500px;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.saumon{
    height: 180px;
    width: 1450px;
    background-color: lightsalmon;

    display: flex;
    align-items: center;
}

.blue{
    height: 140px;
    width: 140px;
    background-color: lightskyblue;

    margin: 10px;
    border: solid 3px darkorchid;
}

.blue1{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.blue2{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.blue3{
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
}

.blue4{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);

    margin-top: 280px;
}

.blue5{
    position: relative;
    right: -45px;
}

.blue6{
    position: relative;
    right: -45px;
    top: 45px;
}

.blue7{
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
}

.blue8{
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
}

.blue9{
    transform: scale(0.5, 1);
    -webkit-transform: scale(0.5, 1);
    -moz-transform: scale(0.5, 1);
    -ms-transform: scale(0.5, 1);
    -o-transform: scale(0.5, 1);
}

.blue10{
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
}

.blueA{
    margin-bottom: 100px;
}

.blueB{
    margin-top: 100px;
}

.bleu11{
    transform: skew(15deg, 0);
    -webkit-transform: skew(15deg, 0);
    -moz-transform: skew(15deg, 0);
    -ms-transform: skew(15deg, 0);
    -o-transform: skew(15deg, 0);
}
