<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Post preview-->
        <?php foreach ($articles as $article) : ?>
            <div class="post-preview">
                <?php if(!empty($article['a_picture'])) :?>
                <img src="<?= UPLOADS_URL ?>article/<?= $article['a_picture'] ?>" width="250"> 
                <?php endif;?>
                <a href="article.php">
                <h2 class="post-title"><?= $article['a_title'] ?></h2>
                <h3 class="post-subtitle"><?= mb_strimwidth($article['a_content'], 0, 100, '...'); ?></h3>
                </a>
                <p class="post-meta">
                    Posté par
                    <a href="#!"><?= $article['u_firstname'] ?> <?= $article['u_lastname'] ?> </a>
                    le <?= $article['a_published_at'] ?> dans la catégorie <?= $article['c_title'] ?>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        <?php endforeach; ?>

        <!-- Pager-->
        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
    </div>
</div>