


<div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-12">
                <legend>Titre</legend>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Saisissez un titre pour votre article</small>

                <legend>Contenu</legend>
                <div class="form-group">
                    <label for="exampleTextarea">Contenu</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3" style="height: 104px;"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">Date et Heure de publication</div>
            <div class="col-sm-4">
                <input type="date">
            </div>
            <div class="col-sm-4">
                <input type="time">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <legend>catégorie de l'article</legend>
                <select class="form-select" id="exampleSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                </select>
                <small id="emailHelp" class="form-text text-muted">Selectionner une catégorie pour l'article</small>
            </div>
            <div class="sm-4">image de l'article</div>
                <label class="custom-file">
                <input type="file" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp">
                <span class="custom-file-control form-control-file "></span>
                </label>
                <small id="emailHelp" class="form-text text-muted">Selectionner un fichier sur votre computer</small>

                    <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                            <span>Publier l'article</span> <br>
                            <small id="emailHelp" class="form-text text-muted">L'article sera mis en brouillon si vous décochez cette case!</small>
                    </div>
                    
        </div>

                    <button type="button" class="btn btn-outline-primary">Annuler</button>
                    <button type="submit" class="btn btn-primary">Créer l'article</button>
        
</div>
