<form action="addCategory.php" method="POST" enctype="multipart/form-data" novalidate>

    <fieldset>
        <div class="mb-3 row">
            <div class="col-6">
                <label for="title">Titre</label>
                <input type="text" class="form-control <?php if (isset($errors['title'])) : ?> is-invalid<?php endif; ?>" id="title" name="title"  required>
                <?php if (isset($errors['title'])) : ?>
                    <div id="validationTitle" class="invalid-feedback">Error! invalid title, please answer a correct title...</div>
                <?php else : ?>
                    <small id="titleHelp" class="form-text text-muted">Saisissez le nom de la categorie</small>
                <?php endif; ?>

            </div>
            
       
        

        </div>
        

        <div class="mb-3">
            <label for="picture" class="form-label">picture</label>
            <input class="form-control" type="file" name="picture" id="picture">
            <input type="hidden" name="MAX_FILE_SIZE" value="800000" />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <textarea class="form-control" id="description" rows="3" name="description"></textarea>
        </div>


        <div class="mb-3">
            <a href="addCategory.php" class="btn btn-outline-primary">Annuler</a>
            <button type="submit" class="btn btn-primary">Créer la categorie</button>
        </div>
    </fieldset>
</form>