<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">image modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="bg-warning"><strong>vous n'avez pas accès a cette ressource vous devez vous connecter</strong></p>
                <form>
                    <div class="form-floating">
                    <input type="mail" class="form-control text-center" id="exampleTextarea" placeholder="email">
                    <label class="text-center" for="floatingPassword">email</label>
                    </div>
                    
                    <div class="form-floating">
                <input type="password" class="form-control text-center" id="exampleTextarea" placeholder="Mot de passe">
                <label class="text-center" for="floatingPassword">Mot de passe</label>
                </div>

                <div class="container bg-light">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-primary">Log in</button>
                    </div>
                </div>

                <div class="bg-graygraylight card-header">
                    <p class="text-center"><a class="text-decoration-none" href="">Mot de passe oublié ?</a></p>
                </div>
                </form>
                
            </div>
        </div>
    </div>
</div>


<form action="">

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">

            <div class="card mb-3" style="max-width: 20rem;">
                <div class="card-header bg-info">Visualisation rapide</div>
                <div class="card-body">
                    <h4 class="card-title">pour voir tout de suite votre site</h4>
                    <button type="button" class="btn btn-primary">Afficher votre site</button>
                </div>
                </div>

                <div class="card mb-3" style="max-width: 20rem;">
                <div class="card-header bg-info">Actions rapides</div>
                <div class="card-body">
                    <a href="" class="text-decoration-none">Ajouter un article</a> <br>
                    <a href="" class="text-decoration-none">Ajouter une catégorie</a> <br>
                    <a href="" class="text-decoration-none">Ajouter un utilisateurs</a>
                </div>
                </div>
            </div>
            
            <div class="col-sm-8">
                <div class="card mb-3">
                <div class="card-header bg-info">Article rapide</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleTextarea">Titre de l'article</label>
                        <input type="text" class="form-control" id="exampleTextarea" placeholder="Titre">
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1">Catégorie de l'article</label>
                        <select class="form-select" id="exampleSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <small id="emailHelp" class="form-text text-muted">Selectionner une catégorie pour l'article</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea">Texte de l'article</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Publier l'article</label>
                        <small id="emailHelp" class="form-text text-muted">L'article seras mis en brouillon si vous decochez cette case !</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
                    </div> 
                    
                      
</form>    



            </div>

            <div class="row">
                    <div class="col-sm-7">
                        <div class="card mb-3">
                        <div class="card-header bg-info">Liste des derniers artcles</div>

                        <div class="card-body list-group-item">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                            <a href="" class="text-decoration-none">Fred l'intégrateur</a>
                            <span class="badge rounded-pill bg-success">POO</span> <br>
                            <small id="emailHelp" class="form-text text-muted">-Auteur : Fabien Sellès</small>
                        </div>
                        </div>

                        <div class="card-body list-group-item">
                        <div class="form-check  form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                            <a href="" class="text-decoration-none">Fred l'intégrateur </a>
                             <span class="badge rounded-pill bg-success">POO</span>  <br>
                            <small id="emailHelp" class="form-text text-muted">-Auteur : Fabien Sellès</small>
                        </div>
                        </div>
                        
                        </div>
                        <a href="" class="text-decoration-none">voir tout les articles</a>

                        </div>
                        <div class="col-sm-5">
                            <div class="card mb-3">
                            <div class="card-header bg-info">Liste des derniers commentaires</div>

                            <div class="card-body list-group-item">
                                <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <small id="emailHelp" class="form-text text-muted">-Auteur : Fabien Sellès</small>
                            </div>

                            <div class="card-body list-group-item">
                                <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <small id="emailHelp" class="form-text text-muted">-Auteur : Leon Lou</small>
                            </div>
                            
                        </div>
                        <a href="" class="text-decoration-none">voir tout les commentaires</a>
                    </div>
                    
                </div>
            </div>
        </div>

        

 


    
 

    
              
    




