<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blog - <?= isset($pageTitle) ? $pageTitle : '' ?></title>
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="../css/datatables.min.css">
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="../js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/dataTable/datatables.min.js"></script>
    <script src="../js/tinyMCE/tinymce.min.js"></script>

</head>




<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Admin Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                
                <div class="collapse navbar-collapse" id="navbarScroll">

                <li class="nav-item active">
          <a class="nav-link" href="home.php">Home
            <span class="visually-hidden">(current)</span>
          </a>
                </li>
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Articles
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="listArticles.php">Liste</a></li>
                                <li><a class="dropdown-item" href="addArticle.php">Ajouter</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Catégories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="listCategory.php">Liste</a></li>
                                <li><a class="dropdown-item" href="addCategory.php">Ajouter</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Utilisateurs
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="listUser.php">Liste</a></li>
                                <li><a class="dropdown-item" href="addUser.php">Ajouter</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <span class="navbar-brand"> coucou</span>
                        <button class="btn btn-outline-success" type="submit">Log In</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
   

    <main class="container-fluid">
        <?php if (isset($pageTitle)) : ?><h1><?= $pageTitle ?></h1><?php endif; ?>
        <!-- ICI JE METS LA VUE DE LA PAGE CONCERNEE ! -->
        <?php include('views/' . $view . '.phtml'); ?>

        <div class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">


<div class="alert alert-dismissible alert-danger">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <p><strong>vous n'avez pas accès a cette ressource vous devez vous connecter</strong></p>
</div>
<form action="">
    <div class="form-group">
        <input type="email" class="text-center form-control" id="exampleTextarea" row="3" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="password" class="text-center form-control" id="exampleTextarea" row="3" placeholder="Mot de passe">
    </div>
</form>

      </div>
      <div class="container bg-light">
        <div class="col-md-12 text-center">
            <button type="button"  class="btn btn-primary ">Log in</button>
        </div>
    </div>
    </div>
  </div>
</div>


    </main>

</body>

</html>