<p class="text-end"><a href="addArticle.php" class="btn btn-info">Ajouter un articles</a></p>
<div class="container" style="margin-top:30px">
    <div class="row">
            <table class="table">
            <thead>
                <tr>
                    <th>image</th>
                    <th>Titre</th>
                    <th>Date de publications</th>
                    <th>Catégorie</th>
                    <th>publié</th>
                    <th>Auteur</th>
                </tr>
            </thead>
            <tbody>


                    <tr>
                        <td><img src="https://via.placeholder.com/100x100" class="img-fluid" alt="Responsive image"></td>
                        <td>titre de l'article</td>
                        <td>19/03/2019 15:03:00</td>
                        <td><span class="badge rounded-pill bg-success">POO</span> </td>
                        <td><input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked=""></td>
                        <td>nom de l'auteur</td>
                    </tr>

            </tbody>
        </table>
    </div>
</div>