<p class="text-end"><a href="addCategory.php" class="btn btn-info">Ajouter une category</a></p>
<table class="table">
    <thead>
        <tr>
            <th>c_id</th>
            <th>c_title</th>
            <th>c_description</th>
            <th>c_created_at</th>
            <th>c_picture</th>
            <th>c_slug</th>
            
        </tr>
    </thead>
    <tbody>

        <?php foreach ($cats as $cat) : ?>
            <tr>
                <td><?= $cat['c_id'] ?></td>
                <td><?= $cat['c_title'] ?></td>
                <td><?= $cat['c_description'] ?></td>
                <td><?= $cat['c_created_at'] ?></td>
                <td><?= $cat['c_picture'] ?></td>
                <td><?= $cat['c_slug'] ?></td>
            </tr>
        <?php endforeach; ?>

    </tbody>
</table>