<form action="addUser.php" method="POST" enctype="multipart/form-data" novalidate>

    <fieldset>
        <div class="mb-3 row">
            <div class="col-6">
                <label for="firstname">Prénom</label>
                <input type="text" class="form-control <?php if (isset($errors['firstname'])) : ?> is-invalid<?php endif; ?>" id="firstname" name="firstname" value="<?= $firstname ?>" required>
                <?php if (isset($errors['firstname'])) : ?>
                    <div id="validationFirstname" class="invalid-feedback">Erreur ! Prénom invalide : merci de saisir votre prénom !</div>
                <?php else : ?>
                    <small id="titleHelp" class="form-text text-muted">Saisissez le prénom de l'utilisateur</small>
                <?php endif; ?>

            </div>
            <div class="col-6">
                <label for="lastname">Nom</label>
                <input type="text" class="form-control <?php if (isset($errors['lastname'])) : ?> is-invalid<?php endif; ?>" id="lastname" name="lastname" value="<?= $lastname ?>" required>
                <?php if (isset($errors['lastname'])) : ?>
                    <div id="validationLastname" class="invalid-feedback">Erreur ! nom invalide : merci de saisir votre nom !</div>
                <?php else : ?>
                    <small id="titleHelp" class="form-text text-muted">Saisissez le nom de l'utilisateur</small>
                <?php endif; ?>
            </div>
        </div>
        <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control<?php if (isset($errors['email']) || isset($errors['emailDuplicate'])) : ?> is-invalid<?php endif; ?>" id="email" name="email" value="<?= $email ?>" required>
            <?php if (isset($errors['email'])) : ?>
                <div id="validationEmail" class="invalid-feedback">Erreur ! Email invalide : merci de corriger votre email !</div>
            <?php elseif (isset($errors['emailDuplicate'])) : ?>
                <div id="validationEmail" class="invalid-feedback">Erreur ! Email déjà dans la base de données !</div>
            <?php else : ?>
                <small id="titleHelp" class="form-text text-muted">Saisissez l'email de l'utilisateur</small>
            <?php endif; ?>
        </div>
        <div class="mb-3 row">
            <div class="col-6">
                <label for="password">Mot de passe <span class="badge bg-primary">Au moins 8 caractères</span></label>
                <input type="password" class="form-control<?php if (isset($errors['password'])) : ?> is-invalid<?php endif; ?>" id="password" name="password" placeholder="Mot de passe" required>
                <?php if (isset($errors['password'])) : ?>
                    <div id="validationPassword" class="invalid-feedback">Erreur ! Password invalide : merci de fournir un mot de passe valide !</div>
                <?php endif; ?>
            </div>
            <div class="col-6">
                <label for="password">Confirmez</label>
                <input type="password" class="form-control<?php if (isset($errors['password'])) : ?> is-invalid<?php endif; ?>" id="passwordConf" name="passwordConf" placeholder="Confirmez le mot de passe" required>
            </div>

        </div>
        <div class="mb-3">
            <label for="role">Rôle</label>
            <select class="form-control <?php if (isset($errors['role'])) : ?> is-invalid<?php endif; ?>" id="role" name="role" required>
                <?php foreach (ROLES as $roleString => $roleName) : ?>
                    <option value="<?= $roleString ?>" accesskey="" <?php if ($role == $roleString) : ?>selected<?php endif; ?>><?= $roleName ?></option>
                <?php endforeach; ?>
            </select>
            <?php if (isset($errors['role'])) : ?>
                <div id="validationRole" class="invalid-feedback">Erreur ! Role invalide : merci de sélectionner un role dans la liste !</div>
            <?php else : ?>
                <small id="catHelp" class="form-text text-muted">Sélectionnez un role pour l'utilisateur</small>
            <?php endif; ?>
        </div>

        <div class="mb-3">
            <label for="avatar" class="form-label">Avatar</label>
            <input class="form-control" type="file" name="avatar" id="avatar">
            <?php if (!empty($avatar)) : ?>
                <img width="150" src="<?= UPLOADS_URL ?>user/<?= $avatar ?>">
                <input type="hidden" value="<?= $avatar ?>" name="avatarCurrent">
            <?php endif; ?>
        </div>

        <div class="mb-3">
            <label for="bio" class="form-label">Bio</label>
            <textarea class="form-control" id="bio" rows="3" name="bio"><?= $bio ?></textarea>
        </div>

        <div class="form-check form-switch mb-3">
            <input type="checkbox" class="form-check-input" name="valid" id="valid" <?php if ($valid) : ?>checked<?php endif ?>>
            <label class="custom-control-label" for="valid">Activer l'utilisateur</label>
            <small id="validHelp" class="form-text text-muted">L'utilisateur ne pourra pas se loguer si vous désactivez cette option !</small>
        </div>

        <?php if (!empty($id)) : ?>
            <input type="hidden" name="id" value="<?= $id ?>">
        <?php endif; ?>

        <div class="mb-3">
            <a href="listeUser.php" class="btn btn-outline-primary">Annuler</a>
            <button type="submit" class="btn btn-primary"><?php if (empty($id)) : ?>Créer l'utilisateur<?php else : ?>Modifier l'utilisateur<?php endif; ?></button>
        </div>
    </fieldset>
</form>