<p class="text-end"><a href="addUser.php" class="btn btn-info"><i class="icon-add"></i> Ajouter un utilisateur</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Num</th>
            <th>Avatar</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Valid</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($users as $user) : ?>
            <tr>
                <td><?= $user['u_id'] ?></td>
                <td><?php if (!empty($user['u_avatar'])) : ?><img src="<?= UPLOADS_URL ?>user/<?= $user['u_avatar'] ?>" width="100"><?php endif; ?> </td>
                <td><?= $user['u_lastname'] ?></td>
                <td><?= $user['u_firstname'] ?></td>
                <td><?= $user['u_email'] ?></td>
                <td><?= $user['u_role'] ?></td>
                <td><?= $user['u_status'] ?></td>
                <td><a href="adduser.php?id=<?= $user['u_id'] ?>"><i class="icon-create"></i></a>
                    <a href="#" class="delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-action="delUser.php" data-id="<?= $user['u_id'] ?>" data-title="<?= $user['u_firstname'] ?> <?= $user['u_lastname'] ?>" data-token="<?= $token ?>"><i class="icon-delete"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>

    </tbody>
</table>