.priority2
{
    color:black;
    background-color: lightgray;
    
}
.priority3
{
    color:red;
    background-color: lightsalmon;
}

.priority1
{
    color:green;
    background-color: lightgreen;
}

.toggletest{
    display: none;
}

body{
    background-color: lightseagreen;
}