<div class="container mb-4">

    <style>
        body {
            background-color: lightgreen;
        }
    </style>


    <form action="addArticle.php" method="POST" enctype="multipart/form-data">


        <fieldset>
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" name="title" value="">
                <small id="titleHelp" class="form-text text-muted">Saisissez un titre pour votre article</small>
            </div>
            <div class="form-group">
                <label for="content">Contenu</label>
                <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                <small id="catHelp" class="form-text text-muted">Contenu de l'article</small>
                
                
               
                
            </div>
            <div class="form-group row">
                <label for="date" class="col-sm-4 col-form-label">Date et heure de publication</label>
                <div class="col-4">
                    <input type="date" class="form-control" id="date" name="date" value="2020-01-17">
                </div>
                <div class="col-4">
                    <input type="time" class="form-control" id="time" name="time" value="15:01">
                </div>

            </div>
            <?php $categoryModel = new Category(); ?>
            <?php $categories = $categoryModel->getAll(); ?>

            
            <div class="form-group">
                <label for="categorie">Catégorie de l'article</label>
                <select class="form-control" id="categorie" name="categorie">

                <?php foreach ($categories as $category) : ?>
            
                    <option value="<?= $category['c_id']?>"><?= $category['c_title'] ?></option>
           
                <?php endforeach; ?>
           
                </select>
                <small id="catHelp" class="form-text text-muted">Sélectionnez une catégorie pour l'article</small>
            </div>
            <div class="form-group">
                <label for="picture">Image de l'article</label>
                <input type="file" class="form-control-file" id="picture" name="picture" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Sélectionnez un fichier sur votre
                    ordinateur</small>
            </div>
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" name="valide" id="valide" checked="">
                    <label class="custom-control-label" for="valide">Publier l'article</label>
                    <small id="publieHelp" class="form-text text-muted">L'article sera mis en brouillon si vous
                        décochez cette case !</small>
                </div>
            </div>
            <a href="listeArticle.php" class="btn btn-outline-primary">Annuler</a>
            <button type="submit" class="btn btn-primary">Créer l'article</button>
        </fieldset>
    </form>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cet element ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a id="linkdelete" href="test.php"><button type="button" class="btn btn-primary">Supprimer</button></a>
            </div>
        </div>
    </div>
</div>

<script>
    //DataTable
    $(document).ready(function() {
        $('#tableDonnee').DataTable({
            colReorder: true,
            stateSave: true,
            dom: 'Bfrtip',
            buttons: [
                'pageLength',
                'print',
                'copyHtml5',
                'csvHtml5',
                'pdfHtml5',
                'colvis'
            ],
            columnDefs: [{
                "orderable": false,
                "targets": -1
            }],
            language: {
                url: 'js/dataTable/i18n/fr.json'
            }
        });
    });

    //TinyMCE
    tinymce.init({
        selector: 'textarea',
        height: 300,
        relative_urls: false,
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table paste imagetools wordcount"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        content_css: [
            'css/bootstrap.min.css',
            'css/editor.css'
        ],
        images_upload_url: ''
    });


    //Modal delete Bootstrap
    $('#delete').on('show.bs.modal', function(e) {
        $('#linkdelete').attr("href", e.relatedTarget.href);
    });
</script>