<form action="addCategory.php" method="POST" enctype="multipart/form-data" novalidate>

    <fieldset>
        <div class="mb-3">
            <label for="title">Titre</label>
            <input type="text" class="form-control <?php if (isset($errors['title'])) : ?> is-invalid<?php endif; ?>" id="title" name="title" value="<?= $title ?>" required>
            <?php if (isset($errors['title'])) : ?>
                <div id="validationTitle" class="invalid-feedback">Erreur ! Titre invalide : merci de saisir un titre pour la catégorie !</div>
            <?php else : ?>
                <small id="titleHelp" class="form-text text-muted">Saisissez le titre de la catégorie</small>
            <?php endif; ?>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3" name="description"><?= $description ?></textarea>
        </div>

        <div class="mb-3">
            <label for="picture" class="form-label">Image</label>
            <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
            <input class="form-control" type="file" name="picture" id="picture">
            <?php if (isset($pictureCurrent)) : ?>
                <img width="150" src="../uploads/category/<?= $pictureCurrent ?>">
                <input type="hidden" value="<?= $pictureCurrent ?>" name="pictureCurrent">
            <?php endif; ?>
        </div>

        <div class="mb-3">
            <label for="slug">Slug (permaLink)</label>
            <input type="slug" class="form-control<?php if (isset($errors['slug']) || isset($errors['slug2'])) : ?> is-invalid<?php endif; ?>" id="slug" name="slug" value="<?= $slug ?>" required>
            <?php if (isset($errors['slug'])) : ?>
                <div id="validationSlug" class="invalid-feedback">Erreur ! Slug incorrecte, il ne peut contenir que des caractère alphanumérique !</div>
            <?php elseif (isset($errors['slug2'])) : ?>
                <div id="validationSlug" class="invalid-feedback">Erreur ! Slug deja existant merci de corriger !</div>
            <?php else : ?>
                <small id="titleHelp" class="form-text text-muted">Modifiez le slug si nécessaire</small>
            <?php endif; ?>
        </div>
        <?php if (!empty($id)) : ?>
            <input type="hidden" name="id" value="<?= $id ?>">
        <?php endif; ?>

        <div class="mb-3">
            <a href="listCategory.php" class="btn btn-outline-primary">Annuler</a>
            <button  type="submit" class="btn btn-primary"><?php if (empty($id)) : ?>Créer la catégorie<?php else : ?>Modifier la catégorie<?php endif; ?></button>
                
            </div>
    </fieldset>
</form>

<script src="../js/sluggy.js"></script>