
    <div class="container mb-4">
        
    <?php if ($_SESSION["user"]["u_role"] == "ROLE_ADMIN" || $_SESSION["user"]["u_role"] == "ROLE_AUTH") : ?>
        <h1>Dashborad de <?= $_SESSION["user"]['u_firstname'] ?> <span>avec le role</span> <?= $_SESSION["user"]["u_role"] ?>  </h1>
    <?php endif; ?>
    
              

        <!-- Content here -->
        <div class="row">
            <div class="col-12-sm col-md-4">
                <div class="card">
                    <div class="card-header bg-bleu">
                        <h5>Visualisation rapide</h5>
                    </div>
                    <div class="card-body">
                        <p>Pour voir tout de suite votre site</p>
                        <a href="http://localhost:8080/3WA-MA20/php/blog/" class="d-block btn btn-primary" target="_blank">Afficher votre site</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-bleu">
                        <h5>Actions rapides</h5>
                    </div>
                    <div class="card-body">
                        <a href="addArticle.php" class="d-block card-link"><i class="icon-file-plus"></i> Ajouter un article</a>
                        <a href="addCategory.php" class="d-block card-link"><i class="icon-plus-square"></i> Ajouter une catégorie</a>
                        <a href="addUser.php" class="d-block card-link"><i class="icon-user-plus"></i> Ajouter un utilisateur</a>
                    </div>
                </div>
            </div>
            <div class="col-12-sm col-md-8">
                <div class="card">
                    <div class="card-header bg-bleu active">
                        <h5>Article rapide</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="addArticle.php">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Titre de l'article</label>
                                <input type="text" class="form-control" id="title" name="title" aria-describedby="title" placeholder="Titre">
                            </div>
                            <div class="form-group">
                                <label for="categorie">Catégorie de l'article</label>
                                <select class="form-control" id="categorie" name="categorie">
                                    <option value="10">
                                        &nbsp; Jeux vidéos </option>
                                    <option value="13">
                                        &nbsp;&nbsp; The Legend of Zelda </option>
                                    <option value="16">
                                        &nbsp;&nbsp; Super Mario </option>
                                    <option value="11">
                                        &nbsp; Développement web </option>
                                    <option value="12">
                                        &nbsp;&nbsp; PHP </option>
                                    <option value="14">
                                        &nbsp;&nbsp;&nbsp; POO </option>
                                    <option value="15">
                                        &nbsp;&nbsp; Javascript </option>
                                </select>
                                <small id="catHelp" class="form-text text-muted">Sélectionnez une catégorie pour l'article</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Texte de l'article</label>
                                <textarea class="form-control" aria-label="corps_text" name="content" row="3"></textarea>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="valide" checked="" id="valide">
                                <label class="custom-control-label" for="valide">Publier l'article</label>
                                <small id="publieHelp" class="form-text text-muted">L'article sera mis en brouillon si vous décochez cette case !</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12 col-md-7">
                <ul class="list-group">
                    <li class="list-group-item active bg-dark">
                        <h5>Liste des derniers articles</h5>
                    </li>
                    <li class="list-group-item">
                        <h6><span class="d-none">1</span><a href="publishArticle.php?id=22"><i class="big green icon-toggle-right"></i></a> Fred l'intégrateur <span class="badge badge-pill badge-success">Super Mario</span></h6>
                        <footer class="blockquote-footer">Auteur : <cite title="Source Title">Fabien Sellès</cite></footer>
                    </li>
                    <li class="list-group-item">
                        <h6><span class="d-none">1</span><a href="publishArticle.php?id=20"><i class="big green icon-toggle-right"></i></a> La POO en PHP en 16 minutes (ou moins) <span class="badge badge-pill badge-success">POO</span></h6>
                        <footer class="blockquote-footer">Auteur : <cite title="Source Title">Fabien Sellès</cite></footer>
                    </li>
                </ul>
                <a href="listeArticle.php">Voir tous les articles</a>
            </div>
            <div class="col-12 col-md-5">
                <ul class="list-group">
                    <li class="list-group-item bg-dark active">
                        <h5>Liste des derniers commentaires</h5>
                    </li>
                    <li class="list-group-item">
                        <blockquote class="blockquote text-right">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur (...)</p>
                            <footer class="blockquote-footer">De <cite title="Source Title">Jean Bob</cite></footer>
                        </blockquote>
                    </li>
                    <li class="list-group-item">
                        <blockquote class="blockquote text-right">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur (...)</p>
                            <footer class="blockquote-footer">De <cite title="Source Title">Jean Karime</cite></footer>
                        </blockquote>
                    </li>
                    <li class="list-group-item">
                        <blockquote class="blockquote text-right">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur (...)</p>
                            <footer class="blockquote-footer">De <cite title="Source Title">Jean Fred</cite></footer>
                        </blockquote>
                    </li>
                    <li class="list-group-item">
                        <blockquote class="blockquote text-right">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur (...)</p>
                            <footer class="blockquote-footer">De <cite title="Source Title">Jeanne Sabine</cite></footer>
                        </blockquote>
                    </li>
                </ul>
                <a href="listeComment.php">Voir tous les commentaires</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cet element ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a id="linkdelete" href="test.php"><button type="button" class="btn btn-primary">Supprimer</button></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        //DataTable
        $(document).ready(function() {
            $('#tableDonnee').DataTable({
                colReorder: true,
                stateSave: true,
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                    'print',
                    'copyHtml5',
                    'csvHtml5',
                    'pdfHtml5',
                    'colvis'
                ],
                columnDefs: [{
                    "orderable": false,
                    "targets": -1
                }],
                language: {
                    url: 'js/dataTable/i18n/fr.json'
                }
            });
        });

        //TinyMCE
        tinymce.init({
            selector: 'textarea',
            height: 300,
            relative_urls: false,
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table paste imagetools wordcount"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            content_css: [
                'css/bootstrap.min.css',
                'css/editor.css'
            ],
            images_upload_url: ''
        });


        //Modal delete Bootstrap
        $('#delete').on('show.bs.modal', function(e) {
            $('#linkdelete').attr("href", e.relatedTarget.href);
        });
    </script>


<form action="">

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">

            <div class="card mb-3" style="max-width: 20rem;">
                <div class="card-header bg-info">Visualisation rapide</div>
                <div class="card-body">
                    <h4 class="card-title">pour voir tout de suite votre site</h4>
                    <button type="button" class="btn btn-primary">Afficher votre site</button>
                </div>
                </div>

                <div class="card mb-3" style="max-width: 20rem;">
                <div class="card-header bg-info">Actions rapides</div>
                <div class="card-body">
                    <a href="" class="text-decoration-none">Ajouter un article</a> <br>
                    <a href="" class="text-decoration-none">Ajouter une catégorie</a> <br>
                    <a href="" class="text-decoration-none">Ajouter un utilisateurs</a>
                </div>
                </div>
            </div>
            
            <div class="col-sm-8">
                <div class="card mb-3">
                <div class="card-header bg-info">Article rapide</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleTextarea">Titre de l'article</label>
                        <input type="text" class="form-control" id="exampleTextarea" placeholder="Titre">
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1">Catégorie de l'article</label>
                        <select class="form-select" id="exampleSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <small id="emailHelp" class="form-text text-muted">Selectionner une catégorie pour l'article</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea">Texte de l'article</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Publier l'article</label>
                        <small id="emailHelp" class="form-text text-muted">L'article seras mis en brouillon si vous decochez cette case !</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
                    </div> 
                    
                      
</form>    



            </div>

            <div class="row">
                    <div class="col-sm-7">
                        <div class="card mb-3">
                        <div class="card-header bg-info">Liste des derniers artcles</div>

                        <div class="card-body list-group-item">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                            <a href="" class="text-decoration-none">Fred l'intégrateur</a>
                            <span class="badge rounded-pill bg-success">POO</span> <br>
                            <small id="emailHelp" class="form-text text-muted">-Auteur : Fabien Sellès</small>
                        </div>
                        </div>

                        <div class="card-body list-group-item">
                        <div class="form-check  form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                            <a href="" class="text-decoration-none">Fred l'intégrateur </a>
                             <span class="badge rounded-pill bg-success">POO</span>  <br>
                            <small id="emailHelp" class="form-text text-muted">-Auteur : Fabien Sellès</small>
                        </div>
                        </div>
                        
                        </div>
                        <a href="" class="text-decoration-none">voir tout les articles</a>

                        </div>
                        <div class="col-sm-5">
                            <div class="card mb-3">
                            <div class="card-header bg-info">Liste des derniers commentaires</div>

                            <div class="card-body list-group-item">
                                <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <small id="emailHelp" class="form-text text-muted">-Auteur : Fabien Sellès</small>
                            </div>

                            <div class="card-body list-group-item">
                                <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <small id="emailHelp" class="form-text text-muted">-Auteur : Leon Lou</small>
                            </div>
                            
                        </div>
                        <a href="" class="text-decoration-none">voir tout les commentaires</a>
                    </div>
                    
                </div>
            </div>
        </div>

        

 


    
 

    
              
    




