<p class="text-end"><a href="addArticle.php" class="btn btn-info">Ajouter un article</a></p>
<table class="table">
    <thead>
        <tr>
            <th>a_id</th>
            <th>a_title</th>
            <th>a_content</th>
            <th>a_created_at</th>
            <th>a_published_at</th>
            <th>a_modified_at</th>
            <th>a_picture</th>
            <th>a_slug</th>
            <th>a_status</th>
            <th>category_id</th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($articles as $article) : ?>
            <tr>
                <td><?= $article['a_id'] ?></td>
                <td><?= $article['a_title'] ?></td>
                <td><?= $article['a_content'] ?></td>
                <td><?= $article['a_created_at'] ?></td>
                <td><?= $article['a_published_at'] ?></td>
                <td><?= $article['a_modified_at'] ?></td>
                <td><?= $article['a_picture'] ?></td>
                <td><?= $article['a_slug'] ?></td>
                <td><?= $article['a_status'] ?></td>
                <td><?= $article['category_id'] ?></td>
            </tr>
        <?php endforeach; ?>

    </tbody>
</table>