<p class="text-end"><a href="addCategory.php" class="btn btn-info"><i class="icon-add"></i> Ajouter une catégorie</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Num</th>
            <th>Picture</th>
            <th>Titre</th>
            <th>Date de création</th>
            <th>Slug</th>
            <th>delet</th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($categories as $category) : ?>
            <tr>
                <td><?= $category['c_id'] ?></td>
                <td><?php if (!empty($category['c_picture'])) : ?><img src="../uploads/category/<?= $category['c_picture'] ?>" width="100"><?php endif; ?> </td>
                <td><?= $category['c_title'] ?></td>
                <td><?= $category['c_created_at'] ?></td>
                <td><?= $category['c_slug'] ?></td>
                <td><a href="addCategory.php?id=<?= $category['c_id'] ?>"><span class="icon-create"></span></a>
                    <form action="delCategory.php" method="POST"><input type="hidden" value="<?= $category['c_id'] ?>" name="id"><button type="submit" class="btn"><i class="icon-delete"></i></button></form>

                </td>
            </tr>
        <?php endforeach; ?>

    </tbody>
</table>