<h1>Liste des clients</h1>
<table class="table">
    <thead>
        <tr>
            <th>Num</th>
            <th>Nom</th>
            <th>Nom du contact</th>
            <th>Téléphone</th>
            <th>Adresse</th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($customers as $customer) : ?>
            <tr>
                <td><?= $customer['customerNumber'] ?></td>
                <td><?= $customer['customerName'] ?></td>
                <td><?= $customer['contactLastName'] ?> <?= $customer['contactFirstName'] ?></td>
                <td><?= $customer['phone'] ?></td>
                <td><?= $customer['addressLine1'] ?><br><?= $customer['addressLine2'] ?><br><?= $customer['postalCode'] ?> <?= $customer['city'] ?></td>
            </tr>
        <?php endforeach; ?>

    </tbody>
</table>