
                
<?php $error = null; ?>
<h1>employé</h1>
<?php if ($error == null) : ?>
    <h2>employé N°<?= $employee['employeeNumber'] ?>

    <table class="table table-hover">
        <thead>
            <!-- <tr>
                <th scope="col">employeeNumber</th>
                <th scope="col">lastName & firstName</th>
                <th scope="col">extension</th>
                <th scope="col">email</th>
                <th scope="col">officeCode</th>
                <th scope="col">reportsTo</th>
                <th scope="col">jobTitle</th>
                <th scope="col">customerNumber</th>
                <th scope="col">customerName</th>
                <th scope="col">contactLastName</th>
                <th scope="col">contactFirstName</th>
                <th scope="col">phone</th>
                <th scope="col">address</th>
                <th scope="col">city</th>
                <th scope="col">state</th>
                <th scope="col">postalCode</th>
                <th scope="col">country</th>
                <th scope="col">salesRepEmployeeNumber</th>
                <th scope="col">creditLimit</th>
            </tr> -->
        
        </thead>
        <tbody>

          

        </tbody>
        <tfoot>
           
    </table>
<?php else : ?>
    <p> Commande non trouvée !</p>
<?php endif ?>