<h1>Liste des Employés</h1>
<table class="table">
    <thead>
        <tr>
            <th>employeeNumber</th>
            <th>lastName & firstName</th>
            <th>email</th>
            <th>extension</th>
            <th>officeCode</th>
            <th>reportsTo</th>
            <th>jobTitle</th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($employees as $employee) : ?>
            <tr>
            <td><a href="employee.php?id=<?= $employee['employeeNumber'] ?>"><?= $employee['employeeNumber'] ?></a></td>
                <td><?= $employee['lastName'] ?> <?= $employee['firstName'] ?></td>
                <td><?= $employee['email'] ?></td>
                <td><?= $employee['extension'] ?></td>
                <td><?= $employee['officeCode'] ?></td>
                <td><?= $employee['reportsTo'] ?></td>
                <td><?= $employee['jobTitle'] ?></td>
                
                
            </tr>    
        <?php endforeach; ?>

    </tbody>
</table>