<h1>Liste des Bureaux</h1>
<table class="table">
    <thead>
        <tr>
            <th>officeCode</th>
            <th>city</th>
            <th>phone</th>
            <th>addressLine1 +2</th>
            <th>state</th>
            <th>country</th>
            <th>postalCode</th>
            <th>territory</th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($offices as $office) : ?>
            <tr>
                <td><?= $office['officeCode'] ?></td>
                <td><?= $office['city'] ?> 
                <td><?= $office['phone'] ?></td>
                <td><?= $office['addressLine1'] ?> <?= $office['addressLine2'] ?></td>
                <td><?= $office['state'] ?></td>
                <td><?= $office['country'] ?></td>
                <td><?= $office['postalCode'] ?></td>
                <td><?= $office['territory'] ?></td>
                
                
            </tr>    
        <?php endforeach; ?>

    </tbody>
</table>