
                
<?php $error = null; ?>
<h1>Bon de commande</h1>
<?php if ($error == null) : ?>
    <h2>Commande N°<?= $customer['orderNumber'] ?> du <?= $customer['orderDate'] ?></h2>

    <div class="card col-6 float-end">
        <div class="card-body">
            <h4 class="card-title"><?= $customer['customerName'] ?></h4>
            <h6 class="card-subtitle mb-2 text-muted"><?= $customer['contactLastName'] ?> <?= $customer['contactFirstName'] ?></h6>
            <p class="card-text"><?= $customer['addressLine1'] ?> <?= $customer['addressLine2'] ?> </p>
            <p class="card-text"><?= $customer['postalCode'] ?> - <?= $customer['city'] ?></p>
            <p class="card-text"><?= $customer['country'] ?></p>
        </div>
    </div>


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix Unitaire</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($bonDeCommandes as $bonDeCommande) : ?>
            <tr>
                <!-- tres important -->
                
                <td><?= $bonDeCommande['productCode'] ?></td>
                <td><?= $bonDeCommande['productDescription'] ?></td>
                <td><?= $bonDeCommande['quantityOrdered'] ?></td>
                <td><?= $bonDeCommande['priceEach'] ?></td>
                <td><?= $bonDeCommande['Total'] ?></td>
                

            </tr>
        <?php endforeach; ?>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="4" class="text-end">Total</th>
                <td> <?= $superTotal['superTotal'] ?>€</td>
            </tr>
        </tfoot>
    </table>
<?php else : ?>
    <p> Commande non trouvée !</p>
<?php endif ?>



