<h1>Liste des Payments</h1>
<table class="table">
    <thead>
        <tr>
            <th>customerNumber</th>
            <th>checkNumber</th>
            <th>paymentDate</th>
            <th>amount</th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($payments as $payment) : ?>
            <tr>
                <td><?= $payment['customerNumber'] ?></td>
                <td><?= $payment['checkNumber'] ?> </td>
                <td><?= $payment['paymentDate'] ?></td>
                <td><?= $payment['amount'] ?></td>
            </tr>    
        <?php endforeach; ?>

    </tbody>
</table>                
    
