<h1>Liste des Payments</h1>
<table class="table">
    <thead>
        <tr>
            <th>productCode</th>
            <th>productName</th>
            <th>productLine</th>
            <th>productScale</th>
            <th>productVendor</th>
            <th>productDescription</th>
            <th>quantityInStock</th>
            <th>buyPrice</th>
            <th>MSRP</th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($products as $product) : ?>
            <tr>
                <td><?= $product['productCode'] ?></td>
                <td><?= $product['productName'] ?></td>
                <td><?= $product['productLine'] ?></td>
                <td><?= $product['productScale'] ?></td>
                <td><?= $product['productVendor'] ?></td>
                <td><?= $product['quantityInStock'] ?></td>
                <td><?= $product['buyPrice'] ?></td>
                <td><?= $product['MSRP'] ?></td>
                <td><?= $product['productDescription'] ?></td>
            </tr>    
        <?php endforeach; ?>

    </tbody>
</table>                
    