<h1>Liste des produits</h1>
<table class="table">
    <thead>
        <tr>
            <th>nombre</th>
            <th>productLine</th>
            <th>textDescription</th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($typeOfProducts as $typeOfProduct) : ?>
            <tr>
                <td><?= $typeOfProduct['compteur'] ?></td>
                <td><?= $typeOfProduct['productLine'] ?> </td>
                <td><?= $typeOfProduct['textDescription'] ?> </td>
                
            </tr>    
        <?php endforeach; ?>

    </tbody>
</table>      