<h1>test formulaire</h1>
<table class="table">
    <thead>

    </thead>
    <tbody>


 


        <p>formulaire ici qui partira en methode post a addUser.php </p>
        
        
        <form action="" method="POST">

        <input type="text" placeholder="name" name="name" value="<?= $name ?>">  <br>
        <input type="text" placeholder="firstname" name="firstname" value="<?= $firstname ?>" ><br>
        <input type="mail" placeholder="email" name="email"  value="<?= $email ?>" > <br>
       
        <input type="text" placeholder="your bio here" name="bio" value="<?= $bio ?>" > <br>

        <input type="password" placeholder="password" name="password" id="password" > <br/>
        <label for="MDPBIS">Retapez votre mot de passe:</label><br />		
        <input type="password" placeholder="password" name="passwordBis" id="passwordBis" > <br/>

        <input type="submit" value="Submit_Form">


        </form>




    </tbody>
</table>