<form action="addArticle.php" method="POST" enctype="multipart/form-data" novalidate>

    <fieldset>
        <div class="mb-3">
            <label for="title">Titre</label>
            <input type="text" class="form-control <?php if (isset($errors['title'])) : ?> is-invalid<?php endif; ?>" id="title" name="title" value="<?= $title ?>" required>
            <?php if (isset($errors['title'])) : ?>
                <div id="validationTitle" class="invalid-feedback">Erreur ! Titre invalide : merci de saisir un titre pour l'article' !</div>
            <?php else : ?>
                <small id="titleHelp" class="form-text text-muted">Saisissez le titre de la catégorie</small>
            <?php endif; ?>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Contenu</label>
            <textarea class="form-control" id="content" rows="3" name="content"><?= $content ?></textarea>
        </div>

        <div class="mb-3">
            <label for="picture" class="form-label">Image</label>
            <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
            <input class="form-control" type="file" name="picture" id="picture">
            <?php if (!empty($picture)) : ?>
                <img width="150" src="<?= UPLOADS_URL ?>article/<?= $picture ?>">
                <input type="hidden" value="<?= $picture ?>" name="pictureCurrent">
            <?php endif; ?>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Catégorie</label>
            <select name="category" class="form-control">
                <?php foreach ($categories as $category) : ?>
                    <option value="<?= $category['c_id'] ?>"><?= $category['c_title'] ?></option>
                <?php endforeach; ?>
            </select>
        </div>

        <div class="mb-3 row">
            <div class="col-md-6">
                <label for="date">Date de publication</label>
                <input type="date" class="form-control <?php if (isset($errors['date'])) : ?> is-invalid<?php endif; ?>" id="date" name="date" value="<?= $publishedAt->format('Y-m-d') ?>" required>
                <?php if (isset($errors['date']) || isset($errors['time'])) : ?>
                    <div id="validationDate" class="invalid-feedback">Erreur ! Merci de délectionner une date de publication !</div>
                <?php else : ?>
                    <small id="dateHelp" class="form-text text-muted">Saisissez la date de publication</small>
                <?php endif; ?>
            </div>
            <div class="col-md-6">
                <label for="time">Heure de publication</label>
                <input type="time" class="form-control <?php if (isset($errors['time'])) : ?> is-invalid<?php endif; ?>" id="time" name="time" value="<?= $publishedAt->format('H:i') ?>" required>
            </div>

        </div>

        <div class="mb-3">
            <label for="slug">Slug (permaLink)</label>
            <input type="slug" class="form-control<?php if (isset($errors['slug']) || isset($errors['slug2'])) : ?> is-invalid<?php endif; ?>" id="slug" name="slug" value="<?= $slug ?>" required>
            <?php if (isset($errors['slug'])) : ?>
                <div id="validationSlug" class="invalid-feedback">Erreur ! Slug incorrecte, il ne peut contenir que des caractère alphanumérique !</div>
            <?php elseif (isset($errors['slug2'])) : ?>
                <div id="validationSlug" class="invalid-feedback">Erreur ! Slug deja existant merci de corriger !</div>
            <?php else : ?>
                <small id="titleHelp" class="form-text text-muted">Modifiez le slug si nécessaire</small>
            <?php endif; ?>
        </div>
        <?php if (!empty($id)) : ?>
            <input type="hidden" name="id" value="<?= $id ?>">
        <?php endif; ?>

        <div class="mb-3">
            <a href="listCategory.php" class="btn btn-outline-primary">Annuler</a>
            <button type="submit" class="btn btn-primary"><?php if (empty($id)) : ?>Créer l'article<?php else : ?>Modifier l'article<?php endif; ?></button>
        </div>
    </fieldset>
</form>

<script src="../js/sluggy.js"></script>