<p class="text-end"><a href="addArticle.php" class="btn btn-info"><i class="icon-add"></i> Ajouter un article</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Num</th>
            <th>Picture</th>
            <th>Titre</th>
            <th>Date de création</th>
            <th>Date de publication</th>
            <th>Slug</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($articles as $article) : ?>
            <tr>
                <td><?= $article['a_id'] ?></td>
                <td><?php if (!empty($article['a_picture'])) : ?><img src="<?= UPLOADS_URL ?>article/<?= $article['a_picture'] ?>" width="100"><?php endif; ?> </td>
                <td><?= $article['a_title'] ?></td>
                <td><?= $article['a_created_at'] ?></td>
                <td><?= $article['a_published_at'] ?></td>
                <td><?= $article['a_slug'] ?></td>
                <td><a href="addArticle.php?id=<?= $article['a_id'] ?>"><i class="icon-create"></i></a>
                    <a href="#" class="delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-action="delArticle.php" data-id="<?= $article['a_id'] ?>" data-title="<?= $article['a_title'] ?>" data-token="<?= $token ?>"><i class="icon-delete"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>

    </tbody>
</table>