body{
    width: 600px;
    height: 385px;
    background: #000 url(../images/Super-Mario-Bros-Level-editor.png);

    
}

#mario{
    background: url(../images/mario.png);

    width: 20px;
    height: 20px;
    
    position: relative;
    top: 301px;

    
    
}    
