<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="divdid" id="thediv">
        <form action="exo.php" method="GET">
            <input type="text" placeholder="ton age stp" name='age'>
            <select name="sexe" id="">
                <option value="1">homme</option>
                <option value="2">femme</option>
            </select>
            <input type="submit" value="Submit">


        </form>
    </div>

</body>

</html>