/***************css ex1 

ul{
    padding-inline-start: 0px !important;
}
.menuheader{
    border: 2px solid rgb(0, 0, 0);
    
    margin-left: 2%;
    
}

.menuheader, li  menu header
{
    border: 2px solid rgb(0, 0, 0);
    padding-right: 10px;
    display: inline;
    font-size: 120%;
    display: inline-flex;
    
    
    
}    

a:link, a:visited {
    
    color: black;
    
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    
  }

  a.actif{
            
            color: white;
            
        }

        .lili{
            background-color: lightblue;
            
        }

        .pixel{
            height: 3000px;
        }

        
**************************/

        /************************css ex 2***********************/

        .fixed{
            position: sticky;
            top: 0px;
            background-color: white;
        }


        *{
            margin: 0px;
            padding: 0px;
            font-family: avenir, sans-serif;
        }

        nav{
            width: 100%;
            margin: 0 auto;
            background-color: white;
            position: sticky;
            top: 0px;
        }

        nav ul{
            list-style-type: none;
        }

        nav ul li{
            float: left;
            width: 25%;
            text-align: center;
        }

        nav ul::after{
            content: "";
            display: table;
            clear: both;
        }

        nav a{
            display: block;
            text-decoration: none;
            color: black;
            border-bottom: 2px solid transparent;
            padding: 10px 0px;
        }

        nav a:hover{
            color: orange;
            border-bottom: 2px solid gold;
        }

        /*1ere partie*/

        .sous{
            display: none;
            box-shadow: 0px 1px 2px #ccc;
            
        }

        nav>ul li:hover .sous{
            display: block;
        }

        .sous li{
            float: none;
            width: 100%;
            text-align: left;
            background-color: lightgreen;
        }

        .sous a{
            padding: 10px;
            border-bottom: none;
        }

        .sous a:hover{
            border-bottom: none;
            background-color: rgba(200, 200, 200, 0.1);
        }

        .deroulant>a::after{
            content:"▼";
            font-size: 12px;
           
        }

        

        .sous{
            display: none;
            box-shadow: 0px 1px 2px #ccc;
            background-color: white;
            width: 100%;
            z-index: 1000;
            animation: defilement1 3s infinite;
            -webkit-animation: defilement1 3s infinite;
}

        nav ul li{
            float: left;
            width: 25%;
            text-align: center;
            position: relative;
        }

        



        .pixel{
            height: 6000px;
        }

        @keyframes go {
            0%   { opacity: 0; }
            100% { opacity: 1; }

            }


            @keyframes defilement1{
                0%{transform:translate(0,0);}
               50%{ transform: rotate(10deg); -webkit-transform: rotate(1deg); -moz-transform: rotate(1deg); -ms-transform: rotate(1deg); -o-transform: rotate(1deg); }  
                100%{transform: translate(-2880px,0);}
            }