body{
    
}

.ladiv{
    background-color: lightgray;
    height: 200px;
    width: 100%;

    position: relative;
    top: 0;
    left: 0;
}


.titlemain{
    background-color: purple;
    color: white;
    width: 500px;
    
    position: absolute;
    margin-left: 10px;
    
}

p{
    
    background-color: white;
    width: 500px;
    height: 120px;
    position: absolute;
    bottom: 50;
    margin-left: 50px;
    
}

.ladiv2{

    margin: 10px;
    background-color: lightgray;
    height: 200px;
    width: 100%;

    position: relative;
    top: 0;
    left: 0;
}

.title{
    color: purple;
    position: absolute;
}

span{
    position: relative;
}

.a{
    bottom: -10px;
}

.b{
    bottom: -20px;
}

.c{
    bottom: -25px;
}

.d{
    bottom: -30px;
}

.e{
    bottom: -40px;
}

/* ******************************* */
/* exo 4 */

.grise{
    height: 200px;
    width: 900px;
    background-color: lightgray;

    

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pink{
    height: 150px;
    width: 850px;
    background-color: lightpink;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    

}

    .item-a {
    background-color: #21B7A3;
    }
    .item-b {
    background-color: #D3C62E;
    }
    .item-c {
    background-color: #D070D5;
    }
    .item-d {
    background-color: #428aff ;
    }
    .item-e {
    background-color: #ff4242 ;
    }

    .item {
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        font-weight: bold;
        text-align: center;
    }

    .one{
        display: flex;
        justify-content: space-between;
        
    }

    .two{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .gray{
        background-color: gray;
        height: 300px;
        width: 900px;
        margin: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        padding-bottom: 10px;
    }

    .purple{
        background-color: purple;
        height: 250px;
        width: 800px;

        display: flex;
        justify-content: right;
        align-items: right ;

        padding-top: 10px;
        padding-right: 40px;
    }

    .lightpurple{
        background-color: rebeccapurple;
        height: 150px;
        width: 400px;

        display: flex;
        justify-content: center;
        align-items:center;

        
        
    }

    .lightwhite{
        background-color: rgb(155, 137, 173);
        height: 90px;
        width: 200px;

        margin-top: 20px;
        margin-right: 70px;
        padding-top: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .white{
        background-color: whitesmoke;
        height: 40px;
        width: 100px;

        margin-left:50px;
        margin-bottom:75px;
        
    }

    .circleMain{
        background-color: yellow;
        width: 500px;
        height: 500px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
        
    }

    .eyesMain{
        
        width: 250px;
        height: 75px;

        margin-bottom: 100px;

        display: flex;
        justify-content:space-between;
        align-items: center;
        
        
    }

    .eye{
        background-color: rgb(190, 205, 218);
        height: 75px;
        width: 75px;
        border-radius: 50%;
        
    }

    .mainMouth{
        background-color: black;
        width: 250px;
        height: 75px;
        margin-bottom: 100px;
        border-radius: 75%;

        display: flex;
        justify-content: center;
        align-items: center;
        
       
}

.tongue{
    background-color: red;
    width: 120px;
    height: 75px;
    border-radius: 75%;

    margin-top: 40px;
    

}

.grey{
    background-color: grey;
    width: 2000px;
    height: 600px;

    display: flex;

}

.test{

}

.test1{
    
    height: 300px;
    width: 300px;
    display: flex;
    flex-shrink: 2;
}

.test1a{
        width: 160px;
        height: 35px;
        margin-top: 100px;
    
        display: flex;
        justify-content:space-between;
        align-items: center;  
        
        
}

.mainMouthtest1a{
        width: 125px;
        height: 37px;
        margin-bottom: 50px;
        

        display: flex;
        justify-content: center;
        align-items: center;
}

.eyestest1a{
    height: 32px;
        width: 32px;
}


.tonguetest1a{
    width: 60px;
    height: 37px;
    

    margin-top: 20px;
}
.test2{
    background-color: honeydew;
    height: 150px;
    width: 150px;
    display: flex;
    flex-shrink: 2;
}