<h1>Liste des commandes</h1>
<table class="table">
    <thead>
        <tr>
            <th>Num</th>
            <th>Date</th>
            <th>Date d'expédition</th>
            <th>Date de livraison</th>
            <th>numéro client</th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($orders as $order) : ?>
            <tr>
                <td><a href="index.php?c=order&id=<?= $order['orderNumber'] ?>"><?= $order['orderNumber'] ?></a></td>
                <td><?= $order['orderDate'] ?></td>
                <td><?= $order['shippedDate'] ?></td>
                <td><?= $order['requiredDate'] ?></td>
                <td><?= $order['customerNumber'] ?></td>
            </tr>
        <?php endforeach; ?>

    </tbody>
</table>