@import "partials/styles_colors";

img {
  width: 80%;
  height: 80%;
}

html {
  color: $second-text-color;
  font-size: 16px;
}

body {
  color: $second-text-color;
  font-size: 16px;
  line-height: 3;
}
.logo {
  position: absolute;
  font-size: 2rem;
  line-height: 3rem;
  padding: 10px 4rem;
  span {
    color: $main-color;
    background-color: $main-text-color;
    position: fixed;
    display: inline-block;
    top: 10px;
    left: 10px;

    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $main-color;
  }
}
.btn {
  color: $main-text-color;
  border: 1px solid $main-text-color;
  padding: 1rem 1rem;
  margin: 1rem;
  border-radius: 1.5em;
  text-decoration: none;
}
.home {
  background: $second-color;
  min-height: 500px;
  height: 100vh; /*100vh avoir le .home qui fait la taille de la fenetre navigateur*/
  padding: 4rem 4rem;
  box-sizing: border-box;

  background: radial-gradient(
    ellipse at top left,
    $warning-red-color 0%,
    $light-main-color 80%
  );

  display: flex;
  flex-direction: column;

  .welcome {
    margin: auto;
    width: 100%;
    text-align: center;
    color: $main-text-color;
    h1 {
      border-bottom: 2px dotted $main-text-color;
      margin: 0 0 2rem 0;
      padding: 0 0 2rem 0;
      font-size: 3rem;
    }
  }
}
.services {
  padding: 4rem 4rem;
  background: linear-gradient($light-main-color 0%, $main-text-color 100%);
  h2 {
    color: $main-color;
  }
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .service-block {
    width: 30%;
    min-width: 280px;
    margin: 1.5%;
    box-sizing: border-box;
    h3 {
      color: $main-color;
      text-align: center;
    }
    .service-img {
      background-color: $main-text-color;
      height: 150px;
    }
  }
}
.contacts {
  background-color: $main-text-color;
  padding: 4rem 4rem;
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    label {
      margin: 1rem 0;
    }
    input {
      border: 1px solid $light-main-color;
      padding: 10px;
      border-radius: 5px;
      &:focus {
        background-color: $warning-red-color;
        border: 1px solid $main-text-color;
        padding: 10px;
        border-radius: 5px;
        color: $main-text-color;
      }
    }
    textarea {
      border: 1px solid $main-color;
      padding: 10px;
      border-radius: 5px;
      height: 15rem;
    }
    input[type="submit"] {
      background-color: $main-color;
      width: 25%;
      margin: 1rem auto;
    }
  }
}
footer {
  background-color: $dark-main-color;
  padding: 1rem 4rem;
  color: $main-color;
  text-align: center;
  font-size: 1rem;
}
