img {
  width: 80%;
  height: 80%;
}

html {
  color: black;
  font-size: 16px;
}

body {
  color: black;
  font-size: 16px;
  line-height: 3;
}

.logo {
  position: absolute;
  font-size: 2rem;
  line-height: 3rem;
  padding: 10px 4rem;
}
.logo span {
  color: #008da0;
  background-color: #fff;
  position: fixed;
  display: inline-block;
  top: 10px;
  left: 10px;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #008da0;
}

.btn {
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 1rem;
  margin: 1rem;
  border-radius: 1.5em;
  text-decoration: none;
}

.home {
  background: #00c1db;
  min-height: 500px;
  height: 100vh;
  /*100vh avoir le .home qui fait la taille de la fenetre navigateur*/
  padding: 4rem 4rem;
  box-sizing: border-box;
  background: radial-gradient(ellipse at top left, rgba(255, 0, 0, 0.452) 0%, #07e2ff 80%);
  display: flex;
  flex-direction: column;
}
.home .welcome {
  margin: auto;
  width: 100%;
  text-align: center;
  color: #fff;
}
.home .welcome h1 {
  border-bottom: 2px dotted #fff;
  margin: 0 0 2rem 0;
  padding: 0 0 2rem 0;
  font-size: 3rem;
}

.services {
  padding: 4rem 4rem;
  background: linear-gradient(#07e2ff 0%, #fff 100%);
}
.services h2 {
  color: #008da0;
}
.services > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .service-block {
  width: 30%;
  min-width: 280px;
  margin: 1.5%;
  box-sizing: border-box;
}
.services .service-block h3 {
  color: #008da0;
  text-align: center;
}
.services .service-block .service-img {
  background-color: #fff;
  height: 150px;
}

.contacts {
  background-color: #fff;
  padding: 4rem 4rem;
}
.contacts form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.contacts form label {
  margin: 1rem 0;
}
.contacts form input {
  border: 1px solid #07e2ff;
  padding: 10px;
  border-radius: 5px;
}
.contacts form input:focus {
  background-color: rgba(255, 0, 0, 0.452);
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
.contacts form textarea {
  border: 1px solid #008da0;
  padding: 10px;
  border-radius: 5px;
  height: 15rem;
}
.contacts form input[type=submit] {
  background-color: #008da0;
  width: 25%;
  margin: 1rem auto;
}

footer {
  background-color: #00606d;
  padding: 1rem 4rem;
  color: #008da0;
  text-align: center;
  font-size: 1rem;
}/*# sourceMappingURL=main.css.map */