

img
{
    width: 15%;
}

h1
{
    text-align:center;
}

span
{
    color: blue;
}

input
{
    width: 300px;
}

.adf
{
    display: inline;
}

body
{
    text-align: justify;
}

.page2
{
    background-image: url(https://cdn.discordapp.com/attachments/812546771544834088/855017394228428820/unknown.png);   
}