@font-face {
  font-family: firstfont;
  src: url("polices/ballpark.eot") format("eot"),
  url("polices/ballpark.svg") format("svg"),
  url("polices/ballpark.ttf") format("ttf"),
  url("polices/ballpark.woff") format("woff");
}

@font-face {
  font-family: secondfont;
  src: url("polices/dayrom.eot") format("eot"),
  url("polices/dayrom.svg") format("svg"),
  url("polices/dayrom.ttf") format("ttf"),
  url("polices/dayrom.woff") format("woff");
}

#logo>h1{
  font-family: firstfont;
  font-size: 2.5em;
  
}

h1{
  font-family: secondfont;
  font-size: 2em;
}

.bloc_page /* dimension de la page */
{
 background-image: url("images/fond_jaune.png");
}

/******************couleur***********************


header
{
    background-color: lightcoral;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 7px 15px;
    padding: 15px;
}

section
{
    background-color: lightgreen;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 7px 15px;
    padding: 15px;
}

footer
{
    background-color: lightblue;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 7px 15px;
    padding: 15px;
}

.banniere_image
{
    background-color: lightgrey;
}

article
{  
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 5px;
    background-color: purple;
  }

  aside
  {
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 5px;
        background-color: lightpink;
  }

 nav ul, .banniere_image, .tweet, .mes_photos, .mes_amis
  {
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 5px;
  }

 

  .bloc_page{
    background-color: lightseagreen;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 7px 15px;
    padding: 15px;
  }

  .titre_principal{
    background-color: lightgrey;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 7px 15px;
    padding: 15px;
  }

  #logo{
    background-color: lightsalmon;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 7px 15px;
    padding: 15px;
  }

  h2{
    background-color: lightsalmon;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 7px 15px;
    padding: 15px;
  }

  .menuheader{
    background-color: lightgrey;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 7px 15px;
    padding: 15px;
  }
 
****************couleur fin**************/
/*************general*******************/

ul
  {
    list-style-type: none;
  }

 /************general fin***************/ 
/*******************footer*******************/
footer{
  display: flex;
  padding-top: 20px;
}

.tweet{
  width: 33%;
  
}

.mes_photos {
  width: 33%;
}

.imgs{
  display: flex;
  justify-content: space-around;
  
}

.mes_photos>.imgs>img{
  width: 85px;
  height: 85px;
  border: solid black 1px;
}

.mes_amis {
  width: 33%;
}

.mes_amis>h1{
  padding-left: 40px;
}

/*****************footer fin*************/

/****************listes amis*****************/

.listes_amis{
  display: flex;
  justify-content: space-between;
}

/****************listes amis fin*****************/

/**********section**********/

section{
  display: flex;
}

/**********section fin**********/

/*banniere*/

.banniere_image{
  background-image: url("images/sanfrancisco.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.banniere_description{
  
  background-color: rgba(24,24,24,0.8);
  color: #fff; /*?????????????*/
  padding: 16px;

  display: flex;
  justify-content: space-between; /*bouton*/
}

/****banniere fin****/

/****header css****/

header{
  display: flex;
  justify-content: space-between;
  margin-top: -120px
}

#logo{
  display: flex;
  justify-content: space-around;
}

.titre_principal{
  display: flex;
  flex-direction: column;
  padding-top: 180px;
}

.menuheader1{
display: flex;
justify-content: space-around;
padding-top: 50%;
}

.menuheader2{
  padding-right: 20px;
}

.separateur{
  background-image: url("images/separateur.png");
  height: 3px;
  margin-bottom: 16px;
}

.separateur2{
  position:relative;
  top: -19px;
  left: 49%;
  right: 49%;

  
}
/****header fin css****/

/*******menu a droite du header*********/

.menuheader2 a{
  list-style: none;
  text-decoration: none;
  font-size: 1.8em;
  font-family: secondfont;
  text-transform: uppercase;
  color: black;

}

.menuheader2 a.actif{
  color: red;
  text-decoration: underline;
}

a:link, a:visited {
    
  
}

#fleche_bulle{
  position: relative;
  top: 0px;
  left: -10px;
}

aside{
  background-color: #6F6A63;
  width: 100%;
  color: #fff;
  margin-top: 20px;
  margin-right: 5px;
  border-radius: 10px;
}

.bouton_rouge{

}

button{
background-image: url("images/fond_degraderouge.png");
border-radius:   10px; 

  }

button>a{
  text-decoration: none;
  color: white;
  
}

.photo_zozor{
  padding: 0px 45px;
}

aside>h1{
  text-align: center;
}

.reseau{
  margin: 0 4px;
  padding-bottom: 10px;
}

.listes_amis>ul>li>a{
  text-decoration: none;
  color: red;
}