/*css general*/

@font-face{
    font-family: "font-yo"; 
    src: url("/font/Acrepis-Regular.otf");
    
}

body{
    font-family: Arial;
    font-size: 10pt;
    width: 100%;
    background-color: black;
    
}



a{
    transition: font-size 0.5s ease;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
}
 a:hover{
    font-size: 1.3em; 
    color: #d2396b;
 }

/******
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 7px 15px; 

*******/


/*header*/

header
{
    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 7px 15px;
    padding: 0px;
}

.red{
    color: lightgreen;
}

h1{
    text-align: center;
    padding-left: 15%;
    padding-top: 15px;
    font-size: 2em;
}

.titregif{
    height: 100px;
    padding-left: 45px;
}

#logo{
    position: absolute;
    top: 40px;
    right: 30px;
    animation-duration: 3s;
    animation-name: slidein;
    width: 100px;
    
}

.menuheader, .menuheader1{
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
    padding-left: 5px;
    }

    .menuheader1{
        display: inline-block;
        text-align: center;
        width: 100px;
        font-family: font-yo;
        font-size: 2em;
        padding-top: 20px;
        
        
    }
    .menux{
        text-decoration: none;
        color: whitesmoke;
        
    }
    
    .menux:hover{
        background-color: #d2396b;
        color: white;
        border-radius: 100px;
        padding: 15px 30px 20px 30px;
        transition:background-color 1s ease-in-out;
        /*transition*/:;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
}

    .menu{
        display: flex;
        justify-content: left;

    }

    

    /***********section**************/

    .test{   
        
    }

    h2{
        margin: 2px 70px;
        color: whitesmoke;
        font-size: 1.2em;
        font-family: font-yo;
    }

    aside>a{
        color: whitesmoke;
        text-decoration: none;
    }

    section{
        background-color: black ;
        
    
    }

    

    .div2{
        
        margin: 5px;
        background-color: black;
        animation-duration: 3s;
        animation-name: slideinleft;
    }

    .div3{
        
        margin: 5px;
        background-color: #3e3e3e ;
        animation: fadein 3s ease-in alternate ;
        max-height: 300px;
        margin-top: 20px;
        
    }

    article{
        display: flex;
        width: 70%;
    }

    


    .sectiontwo{
        display: flex;
    }

    

    /*****aside*****/

    

    aside{
        
        background-color: black;
        display: inline-block;
        width: 30%;
        padding-top: 50px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        animation: slideinright 3s ease-in alternate ;
        -webkit-animation: slideinright 3s ease-in alternate ;
}

    
    
    aside>.asidex{
        margin: 5px;
        color: whitesmoke;
    }
    
    .asidex:hover{
        text-decoration: none;
        color: #d2396b;
        
    }

.img1{
        width: 250px;
        height: 200px;
        float: left;
        padding-right: 5px;
    }

    .img2{
        width: 200px;
        height: 200px;
        float: left;
        padding-right: 5px;
    }

    p{
        color: whitesmoke;
    }



    /******footer*****/
            /*footer*/

footer{
    position: fixed;
    bottom: 0px;
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px;
    box-shadow: 60px -16px #d2396b;

}

.footermain{
    display: flex;
    justify-content:space-between;

 }

 .lienfooter{
    color: grey;
    font-family: font-yo;
    text-decoration: none;
    
 }

 .lienfooter:hover{
    text-decoration: underline;
 }

 .lienfooter3{
    text-decoration: none;
     transition: font-size .5s ease;
     color: gray;
     
 }

 .yoyo{
    text-decoration: none;
    color:gray;
 }

 .lienfooter3:hover{
     text-decoration: none;
     color: #d2396b;
    
    font-size: 1.5em;
    
    }



 
 .parttwo{
     padding-left: 10px;
     padding-bottom: 10px;
 }

 h3{
     padding: 20px 0;
 }

 .lienfooter2{
     padding-right: 20px;
 }

 .footer2{
     padding-right: 20px;
     padding-top: 5px;
 }

 .footer1{
     display: flex;
 }

 .imgfooter{
     width: 100px;
     height: 100px;
 }
  /************footer fin***********/

  /*diapo*/

  .d1:hover{
    animation-play-state: paused;
}

.d1{
    width: 1336px;
    height: 400px;
    box-shadow: 0px 15px 10px -5px lightslategrey;
    background:url("imagesbaba/BabaIsYou_Island_Level_5_Victory_Spring_Level.png");
    background-color: lightgreen;
    background-size: contain;
    animation: defilement1 100s linear infinite ;
    -webkit-animation: defilement1 10s linear infinite ;
}

.conteneur1{
    overflow: hidden;
    max-width: 600px;
    
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    animation: slideinright 2s ease-in alternate ;
    -webkit-animation: slideinright 2s ease-in alternate ;
}

@keyframes defilement1{
    0%{transform: translate(0,0);}
    100%{ transform: translate(-44%,0); -webkit-transform: translate(-44%,0); -moz-transform: translate(-44%,0); -ms-transform: translate(-44%,0); -o-transform: translate(-44%,0);
}
}



/*diapo fin*/


.div22{
    display: flex;
    background-color: rgb(22, 22, 22);
}

.test2{
    width: 60%;
    animation: fadein 3s ease-in alternate ;
}


/*************/
/***formulaire******/

.formulaire1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }

 .formu2{
    justify-content: left;
 }

 .formu3{
     justify-content: right;
 }

 .formulaire2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }

 #comments{
     width: 250px;
     height: 150px;
 }

 .choix{
    display: flex;
    align-items: center;
 }

.formul1{
    font-size: 1.8em;
    margin: 10%;
    background-color: #d2396b;
    padding: 50px;
    opacity: 0.6;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-style: solid ;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 5px 7px 15px whitesmoke;
    
}

.page3{
    background: linear-gradient(0.50turn, #000000, #8c9da3, #2B2B2B);
}

.formu5{
    margin-right: 5%;
    margin-bottom: 3%;
    width: 10px;
    height: 5px;
    
}

button{
    border: 5px solid rgb(18, 179, 190);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}



.h1bis{
    
    padding: 50px;
    margin: 0%;
    text-align: center;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/**page3 flex**/

.megadiv{
    display: flex;
    width: 100%;
}

.bodycontact{

    background: url("5J36JOB.jpg");
    width: 70%;
    
}

.map{
    display: flex;
    width: 30%;
    padding-top: 90px;
    animation: slideinright 3s ease-in alternate ;
}

.formulaireflex{
    display: flex;
    width: 100%;
    animation: fadein 3s ease-in alternate ;

}

/*exercice*/

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

header, footer{
    
    width: 100%;
   
    color: white; /*text color*/
    
    
    animation: fadein 3s ease-in alternate ;
    
    
}

/*slide du #logo*/
@keyframes slidein {
    0% {
        transform: translate3d(0, -1000px, 0);
        -webkit-transform: translate3d(0, -1000px, 0);
        -moz-transform: translate3d(0, -1000px, 0);
        -ms-transform: translate3d(0, -1000px, 0);
        -o-transform: translate3d(0, -1000px, 0);
}
      
      30%, 50%, 70% {
        transform: translate3d(0, -400px, 0);
        -webkit-transform: translate3d(0, -400px, 0);
        -moz-transform: translate3d(0, -400px, 0);
        -ms-transform: translate3d(0, -400px, 0);
        -o-transform: translate3d(0, -400px, 0);
}
    
    90% {
    transform: translate3d(0, 25px, 0);
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    -o-transform: translate3d(0, 25px, 0);
}
      100% {
        transform: translate3d(0px, 0, 0);
      }
  }

  @keyframes slideinleft {
    0% {
        transform: translate3d(-1000px, 0, 0);
      }
      
      30%, 50%, 70% {
        transform: translate3d(-400px, 0, 0);
      }
    
      100% {
        transform: translate3d(0px, 0, 0);
      }
  }

  @keyframes slideinright {
    0% {
        transform: translate3d(1000px, 0, 0);
        -webkit-transform: translate3d(1000px, 0, 0);
        -moz-transform: translate3d(1000px, 0, 0);
        -ms-transform: translate3d(1000px, 0, 0);
        -o-transform: translate3d(1000px, 0, 0);
}
      
      30%, 50%, 70% {
        transform: translate3d(400px, 0, 0);
        -webkit-transform: translate3d(400px, 0, 0);
        -moz-transform: translate3d(400px, 0, 0);
        -ms-transform: translate3d(400px, 0, 0);
        -o-transform: translate3d(400px, 0, 0);
}
    
      100% {
        transform: translate3d(0px, 0, 0);
      }
  }

  

  p, .asidex{ 
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

.pepe{
    
    text-align: right;
    padding-right: 10px;
}

