/* Ne pas toucher */
.container { font-family: arial; color:#FFF;}
header, nav, section, aside, footer{ display:flex; justify-content:center; align-items:center; padding:10px;}
header { background-color: #1abc9c; }
nav { background-color: #3498db; }
section { background-color: #9b59b6; }
aside { background-color: #e67e22; }
footer { background-color: #e74c3c; }

/* Editer a partir d'ici */
 
.container {
	display: grid;
	grid-template-columns: 200px 1fr 200px;
	grid-template-rows: min-content 1fr min-content;
	height:300px;
  }
  
  header{
	grid-column: 1 / span 3;
	grid-row: 1;
  }
  
  footer {
	grid-column: 1/ span 3;
	grid-row:3;
  }
  @media (max-width: 640px) {
	.container{
	  grid-template-columns: 1fr;
	  grid-template-rows: min-content;
	}
	
	header{
	  grid-column:1;
	}
	
	footer{
	  grid-column:1;
	  grid-row:5;
	}
  }