
  


  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: #e6bccd; }
  .page {
    width: 960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    overflow: hidden; }

  header.main_header {
    background-color: #29274c;
    color: #d295bf;
    width: 100%;
    order: 1;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    padding: .5em 1em;
    box-sizing: border-box; }
  header.main_header::first-letter {
    color: #ffffff; }

  .home div.hero {
    order: 1;
    width: 100%;
    height: 180px;
    background-image: url('img.jpg');
    position:relative;
    background-size: 960px;
  }
  .home div.hero div {
    background-color: #7e52a0;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: .6;
  }

  nav.main-nav {
    background-color: #7e52a0;
    width: 100%;
    order: 1; }
  nav.main-nav ul {
    display: flex;
    justify-content: space-around;
    margin: .5em;
    padding: 0;
    list-style: none; }
  nav.main-nav a {
    color: #ffffff;
    text-decoration: none;
    background-color: #29274c;
    display: block;
    min-width: 120px;
    padding: .3em;
    border-radius: 4px;
    text-align: center; }
  nav.main-nav a.active,
  nav.main-nav a:hover {
    background-color: #d295bf;
    color: #29274c; }

  section.main_content {
    background-color: #ffffff;
    width: 660px;
    min-height: 200px;
    order: 3;
    box-sizing: border-box;
    padding: .5em; }

  aside.main_aside_left,
  aside.main_aside_right {
    background-color: #d295bf;
    color: #ffffff;
    width: 150px;
    box-sizing: border-box;
    padding: .5em; }
  aside.main_aside_left {
    order: 2;
    border-right: 5px solid #7e52a0; }
  aside.main_aside_right {
    order: 4;
    border-left: 5px solid #7e52a0; }

  footer.main_footer {
    background-color: #012a36;
    width: 100%;
    order: 5;
    display: flex;
    flex-wrap: wrap; }
  footer.main_footer ul {
    box-sizing: border-box;
    width: 33%;
    list-style: none; }
  footer.main_footer a {
    color: #e6bccd;
    text-decoration: none;
    font-size: 0.9em; }
 

@media screen and (min-width: 576px) and (max-width: 959px) {

  nav.main-nav ul{
    display: flex;
    justify-content: flex-start;
  }

  .home{
    display: flex;
    flex-direction: column;
  }
} 