body{
    background-color: lightseagreen;
}

li{
    list-style: none;
}
.italic{
    font-style: italic;
    color: darkolivegreen;
    font-weight: bold;
    font-size: 2em;
}

ul{
    height: 100%;
    width: 1000px;
    background-color:lightblue;
    display: flex;
    flex-wrap: wrap;

}

li{
    margin: 1em;
    padding: 0.5em;
}

li:hover{
    background-color: silver;
    transition-duration: 1s;
}

.selected{
    background-color: lightgreen;
    transition-duration: 1s;
}