/* reseau du footer*/
.reseau{
    height: 45px;
    margin: 1%;
    
    
}
.masterreseau{
    display: flex;
    justify-content: center;   
}
/* reseau du footer fin*/

/*footer*/

.menuheader{
    
    
    margin-left: 2%;}

.menuheader, li{  

    font-size: 120%;
    display: flex;
    justify-content: space-around; 
    
}

.copyright{
    text-align: center;
    font-size: 90%;
    
}

a:link, a:visited { /*remove le "bleu" des liens*/
    
    color: black;
    
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    
  }

  a:hover{ 
    background-color: rgb(255, 255, 255);
    transition:all 0.7s;
    color: rgb(224, 22, 22);
    border-radius: none;
}
/*footer fin*/

/*bouton de remonté*/

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 50px;
  }
  #scroll_to_top img {
    width: 50px;
  }

  /*bouton de remonté fin*/

  /*reseau*/
  #fb												{background:url(images/reseaux2.png) no-repeat 0px -26px;filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%);}

  #tw 											{background:url(images/reseaux2.png) no-repeat -26px -26px;filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%);}

  #insta 											{background:url(image/Instagram.png) no-repeat -26px -26px;filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%);}

  #fb:hover, #tw:hover,#insta:hover  							{filter: grayscale(0); -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); }

  /*reseau fin*/

  header{
      background-color: #E57917;
      display: flex;
      justify-content: center;
  }

  /*logo*/

  .logo{
    width: 200px;
    height: 200px;
    
 
  }

  /*menu header */
.menuheader1{

 position: absolute;  
 top: 10px; 
 right: 10px;
    
}
   
.box{
    display: flex;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.menuheader2{
    
    
}

.menuheader1 a.actif
{
    background-color: red;
}

/*menu header fin */

.psick{
    background-color: white;
    
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)),url("image/10_void_animated.gif");
    
    height: 800px;
    width: 100%;

    background-size: contain, cover;
    background-repeat: no-repeat;
    
    
}

.body123{
    display: flex;
    align-items: center;
   /*     transform: translateX(0px); decaler une image*/ 
    text-align: right;
    margin: 1%;
    margin-bottom: 150px;
    margin-top: 20px;
    font-family: Tahoma;
    
    

}

.txttheatre{
    text-align: left;
    padding-left: 5px;
}

.txttheatre2{
    text-align: left;
    padding-right: 5px;
}

.picname{
    
    position: relative;
    top: -97px;
    right: -51px;
    font-size: 1.5em;
    text-shadow: 
    0 0 0.2em #87F,
    0 0 0.2em #87F,
    0 0 0.2em #87F;
    color: green;
    border:2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 1px;
}

.picname2{
    /* test absolute (pas ouf)
    position:absolute;
    left: 3px;
    top: 153%;
    font-size: 1.5em;
    text-shadow: 
    0 0 0.2em #87F,
    0 0 0.2em #87F,
    0 0 0.2em #87F;
    color: green;
    border:2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 1px;
    */
}

.picname1{
    
    position: relative;
    top: -96px;
    right: 35px;
    font-size: 1.5em;
    text-shadow: 
    0 0 0.2em #87F,
    0 0 0.2em #87F,
    0 0 0.2em #87F;
    color: green;
    border:2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 1px;
}

.bodycv{

    background-color: white;
    
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)),url("image/Transition-Space.jpeg");
    width: 100%;
    height: 800px;

}