/*styles generaux*/

*{
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

body{
    background: #adeded;
    background-color: lightgrey;
}

p{
   
}

a{
    text-decoration: none;
    color: #000;
}

.imageperso{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    

}

div>img{
   
    border-radius: 50%;
    
}

.photo-profil{
    text-align: center;
    margin-top: -80px;
}



/*styles generaux fin*/

/*header + footer general */
header, footer{
background-color: black;
}

header{
    
}
header>h1{
    color: whitesmoke;
}
/*************************/

footer>div>p{
    color: whitesmoke;
    text-align: center;
}

footer{
   
}
/*header + footer general FIN */


/*@media Mobile*/
/* @media (max-width:989px) */

    /*HEADER & FOOTER*/
    header, footer{
        width: 100%;
        padding: 3% 5%;
        box-shadow: 0px 0px 15px #333;
        }

    header{
        border-bottom: 2px solid #fff;
        height: 120px;
    } 
    
    header>h1{
        font-size: 1.5em;
        width: 90%;
        margin: 0 auto;
    }

    footer{
        border-top: 2px solid #fff;
    }

    footer>div>p{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    section{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        padding-bottom: 20px;
        margin: 20px auto;
        box-shadow: 0px 0px 10px #bbb;
    }

    section>h2{
        margin: 20px 0;
        width: 90%;
    }

    section>div{
        width: 90%;
    }

    .prez{
        border-bottom: 2px dashed #ccc;


    }

    .prez a{
        display: block;
        text-align: center;
        padding: 10px;
        margin: 10px auto 30px auto;
        color: #fff;
        background-color: #EA0;
        box-shadow: 0px 0px 10px #ccc;
        border-radius: 5px;
        
    }
    
    .contact-flex{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: 10px;
    }

    .contact-flex p:first-child{
        flex: 0 0 40%;
    }

    .contact-flex p:last-child{
        flex: 0 0 60%;
    }

    .social{
        display: flex;
        justify-content:space-evenly;
        margin: 10px auto 0px auto;
    }

    .social>img{
        width: 40px;
        height: 40px;
    }

    .exp>img{
        flex: 0 0 5%;
        max-width:100%;
        width: 100%;
        height:100%;

    }

    

    .exp-desc img:first-child{
        flex: 0 0 75%;
        max-width:100%;
        
        
    }

    .exp{
        display: flex;
        flex-flow: row wrap;
        border-bottom: 1px solid #bbb;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .exp-info{
        display: flex;
        flex-flow: column wrap;
        flex:0 0 70%;
        margin-left:auto;
        
    }

    .exp-info>h3{
        font-size: 1.2em;

    }

    h4{
        font-size: 1.3em;
        font-weight: normal;
    }

    .comp{
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 10px;
    }

    .comp p{
        flex: 0 0 40%;
    }

    .conteneur-barre{
        flex: 0 0 60%;
        border-radius: 5px;
        background-color: grey;
        border-bottom: 1px ridge grey;
    }

    .barre{
        display: block;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }


    .c85{
        width: 85%;
        background-color: #8B8;
    }

    .c90{
        width: 90%;
        background-color: #4B8;
    }
    
    .c95{
        width: 95%;
        background-color: #4B8;
        border-radius: 5px;
    }

    .c100{
        width: 100%;
        background-color: #4B8;
        border-radius: 5px;
    }

    /*************************/

    .comp2{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .conteneur-barre2{
        flex: 0 0 100%;
        height: 0.5em;
        margin-bottom: 0.25em;
        border-radius: 5px;
        background-color: grey;
    }
        /*************************/
    
    .internet{
        flex: 0 1 50%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-bottom: 20px;
    }

    .internet img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 0px 0px 15px #555;
    }


/*@media tablette/pc*/
@media (min-width:980px){

    section{
        width: 80%;
        box-shadow: 0px 0px 10px #bbb;
    }

    a:hover{
        color: #EA0;
    }

    header h1{
        width: 80%;
        color: lightgreen;
    }

    .prez, .contact{
        flex: 0 0 45%;
    }

    .prez{
        border-bottom: none;
        border-right: 2px solid #ccc;
        padding-right: 20px;
        margin-left: auto;
    }

    .contact{
        padding-left: 20px;
        margin-right: auto;
    }

    .prez a{
        border: 2px solid transparent;
    }

    .prez a:hover{
        color: #f28835;
        background-color: #fff;
        border: 2px solid #f28835;
        box-shadow: 0px 0px 20px #666;
    }

    .exp>img{
        flex: 0 0 10%;
    }

    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }

    .internet{
        
    }

}



